<template>
    <router-link :to="{ name: 'course' ,params: {id: id} }">
        <div class="available-course">
            <div class="background">
                <!--            <button class = "material-icons" onclick="getEditButtonFromEvent($event)">edit</button>-->
                <img id="backgroundImage" ref="image" :src="background">

            </div>
            <div id = "info">
                <p id="title">{{name}}</p>
                <p id="time">{{time}}</p>
            </div>
        </div>
    </router-link>
</template>
<style >
    .available-course{
        margin-left: 20px;
        margin-bottom:20px;
        width: 250px;
        height: 250px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 6px 20px 0 rgba(0,0,0,0.1);
    }
    .background{
        margin-left: -1px;
        margin-top: -1px;
        border: none;
        width: 250px;
        height: 125px;
        background-image: linear-gradient(#7ec7c9,#5f9ea0);
    }
    #backgroundImage{
        width: 250px;
        height: 125px;
        border: none;
    }
    #info{
        margin-left: -1px;
        width: 250px;
        height:125px;
        border: 1px solid #ccc;
        background-color: white;
    }
    #date{
        margin-top: 5px;
        margin-left: 15px;
        color: red;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 1em;
    }
    #title{
        height: 24px;
        width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow-ellipsis: ellipsis;
        margin-left: 15px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1em;
    }
    #location{
        width: 220px;
        overflow-y: hidden;

        text-overflow-ellipsis: ellipsis;

        margin-left: 15px;
        color: gray;
        font-size: 1em;
        height: 50px;
    }

    /*This id is linked to the button component,
    This function is moving it to the correct position on the tile*/
    #like{
        position: absolute;
        float:right;
        margin-top: -165px;
        margin-right: 10px;
        margin-left: 190px;
    }

</style>
<script>
    export default {
        components : {},
        props: ['time', 'name', 'id'],
        src: String,
        data: () => ({

        }),
        mounted(){
            this.image = this.$refs.image;
            // this.cropper = new Cropper(this.image, {
            //     zoomable: false,
            //     scalable: false,
            //     aspectRatio: 1
            // })
        },
        methods:{
            getDataFromSubscribeComponent:function(e){
                this.$emit("isSubscribeCompClicked", e);
                // getEditButtonFromEvent: function(e){
                //     this.$emit("isEditClicked", e);

            }
        }
    }
</script>
