<template xmlns:url="http://www.w3.org/1999/xhtml">
  <div class="course">
    <div class="background">
      <img
        id="backgroundImage"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png"
      >
    </div>
    <div id="info">
      <!--When adding data from database replace hardcoded data with probs below exp {{title}} -->
      <p id="title">{{ title }}</p>
      <p id="timeLeft">{{ timeLeft }}</p>
      <mdb-progress
        :value="25"
        class="bar"
        height="15">{{ barPercentage }}</mdb-progress>
    </div>
  </div>
</template>

<style scoped>
.course {
  margin-left: 20px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.background {
  margin-left: -1px;
  margin-top: -1px;
  border: none;
  width: 250px;
  height: 125px;
  background-image: linear-gradient(#7ec7c9, #5f9ea0);
}

#backgroundImage {
  width: 250px;
  height: 125px;
  border: none;
}

#info {
  margin-left: -1px;
  width: 250px;
  height: 125px;
  border: 1px solid #ccc;
  background-color: white;
}

#title {
  margin: auto;
  width: 20%;
  font-weight: bold;
  font-size: 1.3em;
}
#timeLeft {
  margin: auto;
  width: 20%;
  font-weight: bold;
  font-size: 1.3em;
}

.bar {
  margin-left: 5px;
  margin-right: 5px;
  color: gray;
  font-size: 1em;
}
</style>

<script>
import { mdbContainer, mdbProgress } from 'mdbvue'

export default {
  name: 'CourseTemplate',
  components: { mdbContainer, mdbProgress },
  props: [],
  src: String,
  data () {
    return {
        barPercentage: '25',
        title: 'C++',
        timeLeft: '00:30'
      }
    },
  mounted () {
    this.image = this.$refs.image
  }
}
</script>
