<template>
  <div>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <button
      id = "like"
      @click="clicked">
      <i class="material-icons">{{ icon }}</i>

    </button>
  </div>
</template>
<style scoped>
    #like{
        float: right;
        width: 50px;
        height: 50px;
        /*margin-top: 50px;*/
        border: 1px solid #ccc;
        background-color: white;
        border-radius: 50%;
        outline: none;
    }
    #like .material-icons{
        font-size: 30px;
        color: red;
        margin-top: 5px;
    }
</style>
<script>
import axios from "axios";
axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';

export default{
  props: ['selectedItemId'],
  data () {
    return {
      id: this.selectedItemId,
      icon: "favorite_border",
      click: false,
    }
  },
  mounted(){
    axios.get('/events/' + this.id)
            .then(response => {
              response.data[0].attendees.forEach(user => {
                if (user === "tranmani") { //TODO get the username from session in LikeButton
                  this.icon = "favorite";
                  this.click = true;
                }
              });
            });
  },
  methods: {
    clicked: function () {
      if (this.click) {
        this.click = false;
        this.icon = 'favorite_border';
      } else if (!this.click) {
        this.click = true;
        this.icon = 'favorite';
      }
      this.$emit('isSubscribeCompClicked', true);
      this.$emit('selectedItem', this.id);
    }
  },
}
</script>
