<template>
  <div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">

        <!-- header -->
        <div class="modal-header">
          <h2 style="display: inline">{{ eventName }}</h2>
          <button
            id = "closeButton"
            style="display: inline"
            class="material-icons"
            @click="$emit('close')">close</button>
        </div>

        <!-- body -->
        <div class="modal-body">
          <div class="imgbox">
            <vueper-slides
              :touchable="false"
              :slide-ratio="0.3"
              fade
              slide-content-outside="top"
              slide-content-outside-class="max-widthed"
              fixed-height="500px">
              <vueper-slide
                v-for="(image, i) in images"
                :key="i"
                :image="images[i]"/>
            </vueper-slides>
          </div>

          <div class="center-fit">
            <h4 class="heading-color center-text">Event description</h4>
            <div class="test" >
              <attendance-icon
                v-if="this.render"
                :attendees="this.attendees"
                style="margin-bottom: 10px"/>
              <like-button
                id="likeButton"
                :selected-item-id="this.id"
                @click.native="rerender"/>
            </div>
            <p id="description">{{ description }}</p>
          </div>

          <aside>
            <div>
              <h4 class="heading-color">Where</h4>
              <p>{{ address }} </p>
            </div>
          </aside>

          <aside>
            <div>
              <h4 class="heading-color">When</h4>
              <p>{{ time }} / {{ date }} </p>
            </div>
          </aside>
        </div>

        <!-- footer -->
        <div class="modal-footer"/>
      </div>
    </div>
  </div>
</template>

  <style scoped>
    /*This id is linked to the button component,
    This function is moving it to the correct position on the tile*/

.test{
  display: inline;
  /*position: absolute;*/
  float: right;
  width: 50px;
  height: 120px;
}

  .center-text{
    text-align: center;
  }
  .heading-color{
    color: #f35f3b;
  }

  .button-center{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }

  .position{
    position: absolute;
    right: 0;
    top: 85%
  }
  .attendance{
    right: 25em;
  }
  .imgbox {
    position: relative;
    display: grid;
    height: 100%;
  }
  .center-fit {
    max-width: 100%;
    /*max-height: 100vh;*/
    min-height: 156px;
    margin: auto;
    height: auto;
  }
   p .description{
      max-width: 670px;
     min-height: 120px;
     display: inline-block;
    }
  aside{
    width: 50%;
    float: left;
    text-align: center;
  }
  .modal-mask {
    overflow-y: initial !important;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
  }
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .modal-container {
    width: 800px;
    height: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: auto;
  }
  .modal-header h2 {
    margin-top: 0;
    color : #f35f3b;
  }
  .modal-body {
    margin: 20px 0;
  }

  #closeButton{
    border: none;
    outline: none;
    background-color: white;
  }
  .modal-header .material-icons {
    font-size: 30px;
    color: gray;
    float: right;
  }

  @media all and (min-width: 19in) {
  .modal-container{
    height: 800px;
  }
}
  </style>
  <script>
  import AttendanceIcon from '../events/AttendanceIcon'
  import LikeButton from '../events/LikeButton'
  import { VueperSlides, VueperSlide } from 'vueperslides'
  import 'vueperslides/dist/vueperslides.css'
  import axios from 'axios';
  axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
  axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';
  export default {
    components: {
      AttendanceIcon,
      LikeButton,
      VueperSlides,
      VueperSlide
    },
    props: ['selectedItemId'],
    data () {
        return {
        id: this.selectedItemId,
        images: null,
        alt: 'Event picture',
        description: null,
        eventName: null,
        address: null,
        time: null,
        date: null,
        attendees: null,
        render: true
      }
    },
    mounted () {
      axios.get('/events/' + this.id)
              .then(response => {
                  console.log(response.data[0])
                  this.images = response.data[0].pictures
                  this.description = response.data[0].description
                  this.eventName = response.data[0].name
                  this.address = response.data[0].location
                  this.time = response.data[0].time
                  this.date = response.data[0].date
                  this.attendees = response.data[0].attendees.length
              })
    },
    methods: {
      rerender: function () {
        this.render = false
        axios.get('/events/' + this.id)
                .then(response => {
                  this.attendees = response.data[0].attendees.length
                })
        // console.log("Hello world" + this.render);
                this.newRender()
        // setTimeout(this.newRender, 500);
            // Add the component back in
      },
      newRender: function () {
        this.render = true
        console.log('Hello world' + this.render)
      }

    }

}
  </script>
