<template>
    <div>
        <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <button
            id="newEvent"
            v-on:click="clicked = !clicked, changeState()">
            <i class="material-icons">expand_more</i>
        </button>

        <div v-if="clicked && editButtonClicked===false" id = "eventForm">
<!--            <form action = "http://localhost:3000/events" method="POST">-->
            <form>
                <input v-model="info.category" id = "top" type= "text" name = "category" placeholder="Category">
                <input v-model="info.title" type = "text" name ="title" placeholder="Name">
                <input v-model="info.date" type = "date" name = "date" placeholder="Date">
                <input v-model="info.time" type = "text" name = "time" placeholder="Time">
                <input v-model="info.location" type = "text" name = "location" placeholder="Location">
                <input v-model="info.description" type = "text" name = "description" placeholder="Description">

                <div id = "multiPicture" v-for="input in inputs">
                    <input style= "display: inline" v-model="info.picture1" type = "text" name = "picture" placeholder="Image">
                    <input v-if="display[0]" style= "display: inline" v-model="info.picture2" type = "text" name = "picture" placeholder="Image">
                    <input v-if="display[1]" style= "display: inline" v-model="info.picture3" type = "text" name = "picture" placeholder="Image">
                    <input v-if="display[2]" style= "display: inline" v-model="info.picture4" type = "text" name = "picture" placeholder="Image">
                    <input v-if="display[3]" style= "display: inline" v-model="info.picture5" type = "text" name = "picture" placeholder="Image">
                    <input v-if="display[4]" style= "display: inline" v-model="info.picture6" type = "text" name = "picture" placeholder="Image">
                    <button v-if="addPicture" id = "addPicture" v-on:click = "add" type="button">
                        <i class = "material-icons">add</i>
                    </button>
                </div>
                <input v-model="info.pictureType" type = "hidden" name="pictureType" value="url" >
                <button id = "add" class = "material-icons" v-on:click="submitData">
                        <i class = "material-icons">add</i>
                </button>
            </form>

        </div>
    </div>
</template>

<style scoped>
    #newEvent{

        display:      block;
        margin-left:  auto;
        /*margin-right: 0;*/
        /*float: right;*/
        margin-right: 20px;
        margin-top: 5px;
        width: 60px;
        height: 35px;
        border-radius: 5px;
        border:none;
        outline: none;
        background-image: linear-gradient(orangered, orange);

    }

    #newEvent .material-icons{
        font-size: 30px;
        color: white;
        /*margin-top: -3px;*/
    }
    #eventForm{
        z-index: 2;
        position: absolute; right: 20px;
        width: 250px;
        /*height: 400px;*/
        height: auto;
        background: white;
        border-style: solid;
        border-width: 0px;
        border-radius: 5%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 6px 20px 0 rgba(0,0,0,0.2);
    }
    input{
        outline-color: #f35f3b;
        border-style: none;
        border-bottom: solid;
        border-color: lightgray;
        margin-top: 15px;
        margin-left: -20px;
        width:170px;
    }
    #top{
        margin-top: 30px;
    }
    #multiPicture{
        width: 190px;
    }
    #addPicture{
        background-image: linear-gradient(orangered, orange);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        outline: none;
        border: none;
        display: inline;
    }
    #addPicture .material-icons{
        margin-top: -1px;
        margin-left: -6px;
        font-size: 20px;
        color: white;
    }

    #add{
        margin-left: -20px;
        width: 170px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 30px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-image: linear-gradient(orangered, orange);
    }
    #add .material-icons{
        font-size: 30px;
        color: white;
    }
</style>

<script>
    import axios from "axios";

    axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
     axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';
    export default {
        props: ["editButtonClicked"],
        data:() => ({
            info: {
                category: '',
                title: '',
                description: '',
                location: '',
                time: '',
                date: '',
                picture1: '',
                picture2: '',
                picture3: '',
                picture4: '',
                picture5: '',
                picture6: '',
                pictureType: '',
                numberOfPictures: 0

            },
            inputs: [{
                pictures: '',
                pictureType: ''
              }],

            clicked: false,
            display: [false, false, false, false, false],
            pictureNum: 0,
            addPicture: true
        }),
        methods:{
            submitData: function(){
                // console.log("data to be submitted: " + this.info);
                this.info.numberOfPictures = 0;
                if(this.info.picture1 === '' ) {this.info.picture1 = null;} else this.info.numberOfPictures += 1;
                if(this.info.picture2 === '' ) {this.info.picture2 = null;} else this.info.numberOfPictures += 1;
                if(this.info.picture3 === '' ) {this.info.picture3 = null;} else this.info.numberOfPictures += 1;
                if(this.info.picture4 === '' ) {this.info.picture4 = null;} else this.info.numberOfPictures += 1;
                if(this.info.picture5 === '' ) {this.info.picture5 = null;} else this.info.numberOfPictures += 1;
                if(this.info.picture6 === '' ) {this.info.picture6 = null;} else this.info.numberOfPictures += 1;

                axios.post('/events',{
                    category: this.info.category,
                    title: this.info.title,
                    description: this.info.description,
                    location: this.info.location,
                    time: this.info.time,
                    date: this.info.date,
                    picture: this.info.picture1,
                    picture2: this.info.picture2,
                    picture3: this.info.picture3,
                    picture4: this.info.picture4,
                    picture5: this.info.picture5,
                    picture6: this.info.picture6,
                     numberOfPicture: (this.info.numberOfPictures),
                    pictureType: 'url',
                    pictureType2: 'url',
                    pictureType3: 'url',
                    pictureType4: 'url',
                    pictureType5: 'url',
                    pictureType6: 'url',
                  })
            }
            ,
            add: function(){
               //this.index.push({picture: '', pictureType: ''});
                this.clicked = !this.clicked;
                console.log(this.pictureNum);
                this.display[this.pictureNum] = true;
                this.pictureNum += 1;
                this.clicked = !this.clicked;
                if(this.pictureNum > 4){
                    this.addPicture = false;
                }
            },
            changeState:function(){
                if(this.editButtonClicked){
                    this.clicked = false;
                    this.$emit('arrowIsClicked', true);
                }
            }
        }
        //JSON.stringify(this.info);
        //category: '', title: '', description: '', location: '', time: '', date: '', picture: '', pictureType: ''}
    }
</script>