npm audi<template>
    <div>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <div  id = "eventForm">
            <!--            <form action = "http://localhost:3000/events" method="POST">-->
            <form>
                <input v-model="info.category" id = "top" type= "text" name = "category" placeholder="Category">
                <input v-model="info.title" type = "text" name ="title" placeholder="Name">
                <input v-model="info.date" type = "date" name = "date" placeholder="Date">
                <input v-model="info.time" type = "text" name = "time" placeholder="Time">
                <input v-model="info.location" type = "text" name = "location" placeholder="Location">
                <input v-model="info.description" type = "text" name = "description" placeholder="Description">
                <div id = "multiPicture" >
                    <input style= "display: inline" v-model="info.picture1" type = "text" name = "picture" placeholder="Image">
                    <input v-if="this.info.display[0]" style= "display: inline" v-model="info.picture2" type = "text" name = "picture" placeholder="Image">
                    <input v-if="this.info.display[1]" style= "display: inline" v-model="info.picture3" type = "text" name = "picture" placeholder="Image">
                    <input v-if="this.info.display[2]" style= "display: inline" v-model="info.picture4" type = "text" name = "picture" placeholder="Image">
                    <input v-if="this.info.display[3]" style= "display: inline" v-model="info.picture5" type = "text" name = "picture" placeholder="Image">
                    <input v-if="this.info.display[4]" style= "display: inline" v-model="info.picture6" type = "text" name = "picture" placeholder="Image">
                </div>

                <input v-model="info.pictureType" type = "hidden" name="pictureType" value="url" >
                <div id = "buttonRow">
                    <button id = "delete" class = "material-icons" v-on:click="deleteData">
                        <i class = "material-icons">delete</i>
                    </button>
                    <button id = "add" class = "material-icons" v-on:click="submitData">
                        <i class = "material-icons">save</i>
                    </button>
<!--                    <button v-on:click="logData">log</button>-->
                </div>
            </form>
        </div>
    </div>
</template>

<style scoped>

    #eventForm{
        z-index: 2;
        position: absolute;
        right: 20px;
        width: 250px;
        /*height: 400px;*/
        height: auto;
        background: white;
        border-style: solid;
        border-width: 0;
        border-radius: 5%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15), 0 6px 20px 0 rgba(0,0,0,0.2);
    }
    input{
        outline-color: #f35f3b;
        border-style: none;
        border-bottom: solid;
        border-color: lightgray;
        margin-top: 15px;
        margin-left: -20px;
        width:170px;
    }

    #top{
        margin-top: 30px;
    }

    #buttonRow{
        margin-left: -20px;
        margin-bottom: 20px;
        width: 170px;
        height: 50px;
    }

    #add{
        display: inline;
        margin-left: 10px;
        width: 80px;
        margin-top: 20px;
        height: 30px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-image: linear-gradient(orangered, orange);
    }
    #add .material-icons{
        font-size: 30px;
        color: white;
    }
    #delete{
        display: inline;
        width: 80px;
        margin-top: 20px;
        height: 30px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-image: linear-gradient(red, orangered);
    }
    #delete .material-icons{
        font-size: 30px;
        color: white;
    }
</style>

<script>
    import axios from "axios";

    axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';
    export default {
        props: ['selectedItemId'],
        data: function(){
             return {
                id :  this.selectedItemId,
                 info: {
                     category: '',
                     title: '',
                     description: '',
                     location: '',
                     time: '',
                     date: '',
                     picture1: '',
                     picture2: '',
                     picture3: '',
                     picture4: '',
                     picture5: '',
                     picture6: '',
                     pictureType: '',
                     numOfPictures: 0,
                     resultNumOfPictures: 0,
                     display: [false, false, false, false, false]
                 },

            }
        },
        mounted(){
            axios.get('/events/' + this.id)
                .then(response => {
                    console.log(response.data[0]);
                    this.info.category = response.data[0].category;
                    this.info.picture1 = response.data[0].pictures[0];
                    this.info.picture2 = response.data[0].pictures[1];
                    this.info.picture3 = response.data[0].pictures[2];
                    this.info.picture4 = response.data[0].pictures[3];
                    this.info.picture5 = response.data[0].pictures[4];
                    this.info.picture6 = response.data[0].pictures[5];
                    this.info.description = response.data[0].description;
                    this.info.title = response.data[0].name;
                    this.info.location = response.data[0].location;
                    this.info.time = response.data[0].time;
                    this.info.numberOfPictures = 0;

                    var tempdate =response.data[0].date;
                    var chunks = tempdate.split('-');
                    if(chunks[1]<10){
                        chunks[1] = "0"+chunks[1];
                    }
                    if(chunks[0] < 10){
                        chunks[0] = "0"+chunks[0];
                    }
                    var formattedDate = [chunks[2],chunks[1],chunks[0]].join("-");
                    // console.log("Date :" + formattedDate);
                    this.info.date = formattedDate;
                    console.log("data to be submitted: " +  this.info.category + ", " +
                        this.info.title + ", " +
                        this.info.description+", " +
                        this.info.location+", " +
                        this.info.time+", " +
                        this.info.date+", " +
                        this.info.picture1 + ", " +
                        this.info.picture2 + ", " +
                        this.info.picture3
                    );

                    if(this.info.picture1 != null && this.info.picture1 !== "") this.info.numberOfPictures += 1;
                    if(this.info.picture2 != null && this.info.picture2 !== "") this.info.numberOfPictures += 1;
                    if(this.info.picture3 != null && this.info.picture3 !== "") this.info.numberOfPictures += 1;
                    if(this.info.picture4 != null && this.info.picture4 !== "") this.info.numberOfPictures += 1;
                    if(this.info.picture5 != null && this.info.picture5 !== "") this.info.numberOfPictures += 1;
                    if(this.info.picture6 != null && this.info.picture6 !== "") this.info.numberOfPictures += 1;
                    console.log("Number of images: " + this.info.numberOfPictures);

                    for(let count = 0; count < this.info.numberOfPictures-1; count++){
                        this.info.display[count] = true;
                    }
                    // response.data[0].date = formattedDate;
                    // console.log(response.data[0])
                    // console.log("New date: " + SimpleDateFormate("mm-dd-yyyy").format(SimpleDateFormate("dd-mm-yyyy").parse(date)));
                });
        },
        methods: {
            submitData: function () {
                this.info.numberOfPictures = 0;
                if(this.info.picture1 != null && this.info.picture1 !== ""){
                    this.info.numberOfPictures += 1;
                } else this.info.picture1 = null;
                if(this.info.picture2 != null && this.info.picture2 !== "") {
                    this.info.numberOfPictures += 1;
                } else this.info.picture2 = null;
                if(this.info.picture3 != null && this.info.picture3 !== "") {
                    this.info.numberOfPictures += 1;
                } else this.info.picture3 = null;
                if(this.info.picture4 != null && this.info.picture4 !== ""){
                    this.info.numberOfPictures += 1;
                } else this.info.picture4 = null;
                if(this.info.picture5 != null && this.info.picture5 !== ""){
                    this.info.numberOfPictures += 1;
                } else this.info.picture5 = null;
                if(this.info.picture6 != null && this.info.picture6 !== "") {
                    this.info.numberOfPictures += 1;
                } else this.info.picture6 = null;

                console.log("number of images: " + this.info.numberOfPictures);
                 axios.put(('/events/' + this.id), {

                    category: this.info.category,
                     title: this.info.title,
                     description: this.info.description,
                     location: this.info.location,
                     time: this.info.time,
                     date: this.info.date,
                     // picture: this.info.picture,
                     // pictureType: 'url'

                     picture: this.info.picture1,
                     picture2: this.info.picture2,
                     picture3: this.info.picture3,
                     picture4: this.info.picture4,
                     picture5: this.info.picture5,
                     picture6: this.info.picture6,
                     numberOfPicture: (this.info.numberOfPictures),
                     length: this.info.numberOfPictures,
                     pictureType: 'url',
                     pictureType2: 'url',
                     pictureType3: 'url',
                     pictureType4: 'url',
                     pictureType5: 'url',
                     pictureType6: 'url',

                 })
            },
            deleteData: function(){
                axios.delete('/events/' + this.id)
            },
            logData: function(){
                console.log("data to be submitted: " +  this.info.category + ", " +
                    this.info.title + ", " +
                    this.info.description+", " +
                    this.info.location+", " +
                    this.info.time+", " +
                    this.info.date+", " +
                    this.info.picture);
            }
        }
    }
</script>