<!-- The carousel is constructed using the vueper library
     source and documentation at: https://antoniandre.github.io/vueper-slides/
 -->
<template>
  <div style="height: 300px; margin-top: 10px; height: 50%">
    <b-row>
      <b-col
        cols="10"
        class="text-info"
      ><h2>{{ name }}</h2></b-col
      >
      <b-col cols="02">
        <b-button class="mr-1" @click="$refs.myVueperSlides.previous()">Prev</b-button>
        <b-button @click="$refs.myVueperSlides.next()">Next</b-button>
      </b-col>
    </b-row>
    <section>
      <!-- Slides display the content inside the carousel as long as it is one of,
      the template components.
        -->
      <vueper-slides
        ref="myVueperSlides"
        :visible-slides="3"
        :slide-ratio="1 / 4"
        :arrows="false"
        :dragging-distance="70"
        class="no-shadow">
        <!-- if they are a teacher -->
        <vueper-slide v-if=" name === 'My Courses'">
          <template v-slot:content>
            <CourseTemplate
            />
          </template>
        </vueper-slide>
        
        <vueper-slide
          v-if=" name === 'Saved Courses'" 
          v-for="course in bookmarks"
          :key="course.id">
          <template v-slot:content>
            <BookmarkedCoursesTemplate
              :name = "course.name"
              :id = "course.id"
              :user_id = "userid"
            />
          </template>
        </vueper-slide>

        <vueper-slide
          v-if="name === 'Saved Events'"
          v-for="event in eventList"
          :key= "event.id">
          <template v-slot:content>
            <event-template
                    :date="event.date"
                    :title="event.name"
                    :location="event.location"
                    :background="event.pictures[0]"
                    @isSubscribeCompClicked="getDataFromEventTemplate($event)"/>
          </template>
        </vueper-slide>
      </vueper-slides>
    </section>
  </div>
</template>

<script>
import { VueperSlides, VueperSlide } from 'vueperslides'

import 'vueperslides/dist/vueperslides.css'
import EventTemplate from '../Event-components/event-template'
import CourseTemplate from '../Event-components/course-template'
import BookmarkedCoursesTemplate from '../courses-components/BookmarkedCoursesTemplate'
import axios from 'axios'

axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'

export default {
  name: 'VueperCarousel',
  components: { VueperSlides, VueperSlide, EventTemplate, CourseTemplate, BookmarkedCoursesTemplate },
  props: ['name', 'userid', 'bookmarks'],
  src: String,
  data () {
    return {
      // container for the events
      eventList: [],
      // countainer for courses
      courseList: [],
      // container for courses that are flagged by the user
      bookmarkedCourseList: [],
      props: {
        name: String
      }
    }
  },
  mounted () {
    axios.get('/events/bookmarked/' + 47715382).then(response => {
      console.log(response.data)
      this.eventList = response.data
      console.log('tt: ', response)
    })
  },
  methods: {
    getDataFromEventTemplate:function(e){
      this.isSubscribeComponentClicked = e;
    }
  }
}
</script>

<style scoped>
#carousel {
  width: 900px;
  height: 800px;
  max-width: 100%;
  margin: inherit;
}

.peopleCarouselImg img {
  width: auto;
  height: 150px;
  max-height: 150px;
  margin-bottom: 100px;
}
</style>
