<template>
    <div style="height: 300px; margin-top: 10px; height: 50%">
        <b-row>
            <b-col
                    cols="10"
                    class="text-info"
            ><h2>{{ name }}</h2></b-col
            >
            <b-col cols="02">
                <b-button class="mr-1" @click="$refs.myVueperSlides.previous()">Prev</b-button>
                <b-button @click="$refs.myVueperSlides.next()">Next</b-button>
            </b-col>
        </b-row>
        <section>
            <vueper-slides
                ref="myVueperSlides"
                :visible-slides="3"
                :slide-ratio="1 / 4"
                :arrows="false"
                :dragging-distance="70"
                class="no-shadow">
                    
                <!-- -->
                <div
                v-for="course in courseList"
                :key= "course.id">
                    <p> {{course.groupid}}</p>
                </div>
                <vueper-slide
                    v-for="course in courseList"
                    :key= "course.id" v-if="course.groupId == groupId">
                    <template v-slot:content>
                        <GroupTemplate
                                :name="course.name"
                                :time="course.time"
                                :id="course.id"
                                :groupId="course.groupId"
                        />
                    </template>
                </vueper-slide>
                <!-- -->
            </vueper-slides>

        </section>
    </div>
</template>

<script>
    import { VueperSlides, VueperSlide } from 'vueperslides'

    import 'vueperslides/dist/vueperslides.css'
    import CourseTemplate from '../Event-components/course-template'
    import GroupTemplate from '../courses-components/GroupTemplate'
    import axios from 'axios'

    axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'

    export default {
        name: 'VueperCarousel',
        components: { VueperSlides, VueperSlide, CourseTemplate, GroupTemplate },
        props: ['name', 'groupId', 'userid'],
        src: String,
        data () {
            return {
                courseList: [],
                props: {
                    name: String
                }
            }
        },
        mounted () {
            axios.get('/courses').then(response => {
                console.log(response.data)
                this.courseList = response.data
                console.log("COURSES:" + this.courseList)
                console.log('tt: ', response)
            })
        },
        methods: {
            getDataFromEventTemplate:function(e){
                this.isSubscribeComponentClicked = e;
            }
        }
    }
</script>

<style scoped>
    #carousel {
        width: 900px;
        height: 800px;
        max-width: 100%;
        margin: inherit;
    }

    .peopleCarouselImg img {
        width: auto;
        height: 150px;
        max-height: 150px;
        margin-bottom: 100px;
    }
</style>
