<template>
    <div style="height: 300px; margin-top: 10px; height: 50%">
        <b-row>
            <b-col
                    cols="10"
                    class="text-info"
            ><h2>{{ name }}</h2></b-col
            >
            <b-col cols="02">
                <b-button class="mr-1" @click="$refs.myVueperSlides.previous()">Prev</b-button>
                <b-button @click="$refs.myVueperSlides.next()">Next</b-button>
            </b-col>
        </b-row>
        <section>
            <vueper-slides
                    ref="myVueperSlides"
                    :visible-slides="3"
                    :slide-ratio="1 / 4"
                    :arrows="false"
                    :dragging-distance="70"
                    class="no-shadow">
                <vueper-slide 
                    v-if=" name === 'Available Courses'"
                    v-for = "course in courseList"
                    :key = "course.id">
                    <template v-slot:content>
                        <AvailableCourses
                         :name="course.name"
                         :time="course.time"
                         :id="course.id"
                        />
                    </template>
                </vueper-slide>
            </vueper-slides>

        </section>
    </div>
</template>

<script>
    import { VueperSlides, VueperSlide } from 'vueperslides'

    import 'vueperslides/dist/vueperslides.css'
    import AvailableCourses from '../courses-components/Homepage-course-template'

    import axios from 'axios'

    axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'

    export default {
        name: 'VueperCarousel',
        components: { VueperSlides, VueperSlide, AvailableCourses},
        props: ['name'],
        src: String,
        data () {
            return {
                courseList: [],
                props: {
                    name: String
                }
            }
        },
        mounted () {
            axios.get('/courses').then(response => {
                console.log(response.data)
                this.courseList = response.data
                console.log('tt: ', response)
            })
        },
        methods: {
            getDataFromEventTemplate:function(e){
                this.isSubscribeComponentClicked = e;
            }
        }
    }
</script>

<style scoped>
    #carousel {
        width: 900px;
        height: 800px;
        max-width: 100%;
        margin: inherit;
    }

    .peopleCarouselImg img {
        width: auto;
        height: 150px;
        max-height: 150px;
        margin-bottom: 100px;
    }
</style>
