<template>
  <div>
    <b-navbar
      toggleable="lg"
      type="dark"
      variant="secondary"
      class="navbar-margin-footer">
      <b-link to="/">
        <img
          src="../../../public/img/logo.png"
          class="logo-img"
          style="width:250px">
      </b-link>
      <b-navbar-toggle target="nav-collapse"/>

      <b-collapse
        id="nav-collapse"
        is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-button class = "icon-margin"><font-awesome-icon
            icon="search"
            class = "fa-2x"
            color = "orange"/></b-button>

          <b-button
            v-if="loggedIn"
            href="/profile"
            class = "icon-margin">
            <font-awesome-icon
              icon="user"
              class = "fa-2x"
              color = "darkseagreen"/>
          </b-button>

          <b-button
            v-else
            :href="loginHref"
            class = "icon-margin">
            <img
              src="../../../public/img/git-login.png"
              style="width: 40px">
          </b-button>

          <b-dropdown
            class="dropdown-btn"
            dropleft>
            <template v-slot:button-content>
              <font-awesome-icon
                icon="bars"
                class = "fa-lg menu"/>
            </template>
            <b-dropdown-item to="/"> <font-awesome-icon
              v-slot:button-content
              icon="home"
              class = "fa-2x search active"/>{{ $t('home') }}</b-dropdown-item>
            <b-dropdown-item to="/courses"><font-awesome-icon
              v-slot:button-content
              icon="book-open"
              class = "fa-2x search"/>{{ $t('courses') }}</b-dropdown-item>
            <b-dropdown-item to="/threads"><font-awesome-icon
              v-slot:button-content
              icon="users"
              class = "fa-2x search"/>{{ $t('forum') }}</b-dropdown-item>
            <b-dropdown-item to="/events"><font-awesome-icon
              v-slot:button-content
              icon="calendar-alt"
              class = "fa-2x search"
            />Events</b-dropdown-item>
            <b-dropdown-item @click="clicked">
              <font-awesome-icon
                v-slot:button-content
                v-if="click == false"
                icon="globe"
                class = "fa-2x search"/>
              <font-awesome-icon
                v-slot:button-content
                v-if="click == true"
                icon="globe"
                class = "fa-2x search active"/>
              {{ language }}</b-dropdown-item>
            <b-dropdown-item
              v-if="loggedIn"
              @click="logout"
              to="/">
              <font-awesome-icon
                v-slot:button-content
                icon="sign-out-alt"
                class = "fa-2x search"/>Sign Out</b-dropdown-item>
          </b-dropdown>
          <!--
          <b-dropdown
            v-if="loggedIn"
            id="adminDropdown"
            boundary="window"
            size="lg"
            variant="link"
            no-caret>
            <template v-slot:button-content>
              &#x1F5B3;<span class="sr-only"/>
            </template>
            <b-dropdown-item href="/reports">Reports</b-dropdown-item>
            <b-dropdown-item href="/accounts">Accounts</b-dropdown-item>
            <b-dropdown-item
              @click="logout"
              to="/"><font-awesome-icon
                v-slot:button-content
                icon="sign-out-alt"
                class = "fa-2x search"/>Sign Out</b-dropdown-item>
          </b-dropdown>
          -->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<style>
  .dropdown-item {
    padding-left: 8px;
  }
  .dropdown-item svg {
    min-width: 40px;
    margin-right: 8px;
  }
</style>
<script>
export default {
  data () {
    const url =  ('http://' + window.location.hostname + ':8080');
    return {
      loginHref: 'https://github.com/login/oauth/authorize?client_id=b4a0d7ce8cc604c742e1&redirect_uri=' + url + '/signin&scope=public_repo',
      loggedIn: false,
      language: 'English',
      click: false
    }
  },
  methods: {
    logout () {
      localStorage.removeItem('authToken')
      this.$root.$emit('login-change')
    },
    checkLogin () {
      let request = new XMLHttpRequest()
      const url = ('http://' + window.location.hostname + ':3000');
      request.open('GET', url + 'protected', false) // doing it sync, otherwise you see it change which is ugly
      request.setRequestHeader('authorization', localStorage.getItem('authToken'))
      request.send(null)

      this.loggedIn = (request.status === 200)
    },
    clicked: function () {
      if (this.click) {
        this.click = false
        this.language = 'English'
        this.$i18n.locale = 'en'
      } else if (!this.click) {
        this.click = true
        this.language = 'Dutch'
        this.$i18n.locale = 'nl'
      }
    }
  },
  beforeMount () {
    // before showing the header, see if a user is logged in
    this.checkLogin()
  },
  mounted() {
    // start listening for the event that tells us when a user logged in or out
    this.$root.$on('login-change', () => {
      this.checkLogin()
    })
  }
}
</script>
