<template>
    <div>
        <div class="circle">
            <h4 class="attendants"><b>{{this.attendees}}</b></h4>
            <i class="material-icons">people</i>
        </div>
    </div>
</template>

<style scoped>
    .circle{
        width: 50px;
        height: 50px;
        position: relative;
        border: 1px solid #ccc;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
    }

    .circle .material-icons{
        position: absolute;
        font-size: 30px;
        margin-top: 15px;
        margin-left: 10px;
        z-index: 2;
        left: 0;
        top: 0;
        height: 50px;
    }
    .attendants{
        font-size: 20px;
    }
</style>

<script>
export default {
    props: ['attendees'],
    data() {
        attendees: this.attendees;
    },
    mounted(){
        this.attendees = this.attendees;
    }
}
</script>