<template>
<div>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    <button id = "likeButton" v-on:click="clicked" :key="this.update">
         <i class="material-icons">{{icon}}</i>
    </button>
</div>
</template>
<style scoped>
    #likeButton{

        /*!* float: right; *!*/
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        background-color: white;
        border-radius: 50%;
        outline:none;
    }
    #likeButton .material-icons{
        font-size: 30px;
        color: red;
        margin-top: 5px;
    }
</style>
<script>
    import axios from 'axios';
    axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';

    export default{
        props: ['selectedItemId', 'username'],
        data () {
            return {
                id: this.selectedItemId,
                icon: "favorite_border",
                click: false,
                update: 0,
                userName: ''
            }
        },
        mounted () {
            axios.get('/user', { headers: { authorization: localStorage.getItem('authToken') } })
                .then(response => {
                    this.userName = response.data.username
                    console.log('USER: ', response)
                    axios.get('/events/' + this.id)
                        .then(response => {
                            response.data[0].attendees.forEach(user => {
                                if (user === this.userName) { //TODO get the username from session in LikeButton
                                    this.icon = "favorite";
                                    this.click = true;
                                }
                        });
                    });
            })
        },
        methods: {
            clicked: function() {
                if (this.click) {
                    this.click = false;
                    this.icon = "favorite_border";
                } else if (!this.click) {
                    this.click = true;
                    this.icon = "favorite";

                }
                axios.post("/events/" + this.id, {
                    username: this.userName//TODO get the username from session in events page
                });
                this.update+=1;
                this.$emit('isSubscribeCompClicked', true);
            },
        }
    }
</script>