.card {
    padding: 10px;
    width: auto;
    height: 30%;
}

.forum-icon {
    width: 30%;
}

/*.card-k {*/
/*    max-width: 100%;*/
/*}*/

.logo-img {
    width: 5px;
}

.active {
    color: orange;
}

.center-threads {
   position: absolute;
    left: 2%;
    right:2%;
    margin: 5% auto;
}

@media screen and (max-width: 992px) {
    .center-threads {
        width: 90%;
    }
}

.cursor-pointer {
    cursor: pointer;
}
.forum-image-margin{
    margin-left: 2%;
}
.sort-field{
    float: right;
    margin-right: 5%;
    margin-bottom: 1%;
}
h3 {
    text-align:center
}

form {
    width:50%;
    margin:auto;
}
.submission-button {
    width:25%;
    float:right;
    background:lightgreen;
    color: white;
    text-align: center;
    height:auto;
}
.submission-button:hover {
    background:white;
    color:lightgreen;
    transition:0.2s;
    cursor: pointer;
}
.submission-button p {
    padding:5px;
    margin: 0;
}
.createthread-margin{
    margin-top: 3%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7BA3B1;
    color: white;
    text-align: left;
}

.add-question-btn {
    margin: 0.5% 2% 0 5%;
}

li a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.submit-comment {
    float: right;
    margin: 10px;
}

.comment-section-icon {
    font-size: 2em;
    padding-right: 6px;
}

.forum-reaction {
    display: inline;
    padding: 15px;
    margin-left: 5%;
}

.thread-item-content a {
    text-decoration: none;
}

.tab {
    position: absolute;
    left: 150px;
}
.border{
    border: solid 1px black;
    width: auto;
    margin-bottom: 5px;
}

.post-vote {
    height: 25px;
    float: left;
    width: 50px;
    position: relative;
}

.post-vote .buttons {
    width:25px;
    float:left;
}

.comment-header p {
    display: inline-block;
    margin-right: 20px;
}

.post-vote .buttons i {
    font-size: 31px;
    line-height: 0;
}

.post-vote-rating {
    margin: 6px 0px 0px 4px;
    position: absolute;
}

.post-contents {
    float:left;
}

.profile-question{
    height: 50px;
}

.col-md-6 {
    height: 140px;
}

