<template>
  <div>
    <b-row>
      <h4 class="ml-lg-5 mt-3 mb-2 mr-auto font-italic font-weight-bold" >Accounts</h4>
      <b-dropdown
        id="dropdown-right"
        :text="text + clicked"
        variant="light"
        class="mr-4 ml-auto mb-0 mt-2"
        right>
        <b-dropdown-item
          v-for="item in filters"
          :key="item"
          @click="clicked=item.name">
          {{ item.name }}
        </b-dropdown-item>
      </b-dropdown>
    </b-row>
    <b-dd-divider class="ml-3 mr-3 dropdown-divider"/>

    <b-list-group>
      <b-list-group-item variant="light">
        <b-container>
          <b-row>
            <b-col
              cols="2"
              align-self="center">
              <font-awesome-icon
                :icon="['fas', 'user-alt']"
                size="3x"/>
            </b-col>
            <b-col
              cols="4">
              <p><strong>{{ username }}</strong></p>
              <p>joined on {{ date }}</p>
              <p>comments {{ comments }}</p>
            </b-col>
            <b-col
              cols="2"
              align-self="center">
              <font-awesome-icon
                v-if="isBlocked == true"
                :icon="['fas', 'lock']"
                size="3x"/>
              <font-awesome-icon
                v-if="isBlocked !== true"
                :icon="['fas', 'unlock']"
                size="3x"/>
            </b-col>
            <b-col
              cols="4"
              align-self="center">
              <b-form-select v-model="account.type">
                <option
                  v-for="type in roles"
                  :key="type">
                  {{ type }}
                </option>
              </b-form-select>
            </b-col>
          </b-row>
        </b-container>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>
<script>
export default {
  data () {
    return {
      text: 'Sort by ',
      clicked: '',
      filters: [
        { name: 'Name' },
        { name: 'Role' },
        { name: 'Restricted' },
        { name: 'Karma' },
        { name: 'Date joined' }],

      account: {
        type: ''
      },
      roles: ['Teacher', 'Admin', 'Student', 'Moderator'],
      username: 'something@git',
      date: '',
      comments: '',
      isBlocked: false
    }
  },
  mounted () {

  },
  methods: {

  }
}
</script>
