/* eslint-disable vue/valid-template-root */
<script src="../node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="../node_modules/@ckeditor/ckeditor5-vue/dist/ckeditor.js"></script>
<template>
  <div class="mb-5">
    <b-row class = "ml-1 mt-1">
      <b-col
        cols = "10"
        align-self="end">
        <h4>{{pageTitle}}</h4>
      </b-col>
      <b-col align-self="end">
        <b-button
          size="sm"
          variant="outline-none"
          @click="$router.push('/courses')">
          <font-awesome-icon
            :icon="['fas', 'times']"
            size="2x"/>
        </b-button>
      </b-col>
    </b-row>
    <b-row class = "ml-1 mr-1">
      <b-col>
        <hr>
      </b-col>
    </b-row>
    <b-row class = "ml-1">
      <b-col
        cols = "2"
        class="text-secondary">
        <strong>Header</strong>
      </b-col>
    </b-row>
    <b-row class = "mt-1 ml-1 mr-1">
      <b-col>
        <b-form-select v-model="groupId">
          <option :value="0">Select Group</option>
          <option
            v-for="selected in groups"
            :key="selected"
            :value="selected.id">
            {{ selected.name }}
          </option>
        </b-form-select>
      </b-col>
    </b-row>
    <b-row class = "mt-1 ml-1 mr-1">
      <b-col>
        <b-form-input
          v-model="coursetitle"
          placeholder="Title"/>
      </b-col>
    </b-row>
    <b-row class = "ml-1 mt-1">
      <b-col
        cols = "2"
        class="text-secondary">
        <strong>Overview</strong>
      </b-col>
    </b-row>
    <b-row class = "mt-2 ml-1 mr-1">
      <b-col cols= "12">
        <ckeditor
          :editor="editor"
          v-model="contentsum"
          :config="editorConfig"/>
      </b-col>
    </b-row>

    <b-button class="ml-4 mt-2 course-creation-submit-button" @click="createCourse()">Create</b-button>
  </div>
</template>
<style>
#content-header {
  color: black !important;
  background-image: linear-gradient(#f4f4f4, #fafafa) !important;
  border: none !important;
  font-weight: bold !important;
  text-align: left;
}

.course-creation-button {
  background: linear-gradient(#F7941E, #F9AB4F) !important;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem;
}

.course-creation-submit-button {
  background: linear-gradient(#8CC63F,rgb(103, 146, 46)) !important;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem;
}
.course-creation-delete-button {
  background: linear-gradient(#F35F3B, rgb(209, 83, 51)) !important;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem;
}
</style>
<script>
import { mdbContainer, mdbRow, mdbCol } from "mdbvue";

import EventTemplate from '../components/Event-components/event-template'
import axios from 'axios'

axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'

import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    EventTemplate
  },
  data () {
    return {
      selectedRepo: null,
      groups: [],
      repository: [],
      title: '',
      editor: ClassicEditor,
      editorData: '',
      editorConfig: {
        toolbar: {
          items: [
               'bold',
               'italic',
               'undo',
               'redo'
           ]
        }
      },
      coursetitle: '',
      contentsum: '',
      lecturerId: 1,
      groupId: 0,
      pageTitle: 'Create course'
    }
  },
  mounted () {
    axios.get('/groups')
      .then(response => {
          this.groups = response.data
          console.log('tt: ', response)
      })
     axios.get('/user', { headers: { authorization: localStorage.getItem('authToken') } })
      .then(response => {
        this.lecturerId = response.data.id
        console.log('USER: ', response)
    })
  },
  methods: {
    //POST METHODS
    createCourse() {
      ///course/:courseName/:overview/:lecturerId/:groupId
      console.log(this.groupId)
      axios.post('/course/' + this.coursetitle + '/' + this.contentsum.substring(3,this.contentsum.length-4) + '/'+ this.lecturerId + '/' + this.groupId)
        .catch(e => {
          this.errors.push(e)
        })
      this.pageTitle += " (course created!)"
    }
  }
}
</script>
<style scoped></style>
