/* eslint-disable vue/valid-template-root */
<script src="../node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="../node_modules/@ckeditor/ckeditor5-vue/dist/ckeditor.js"></script>
<template>
  <div class="mb-5">
    <b-row class = "ml-1 mt-1">
      <b-col
        cols = "10"
        align-self="end">
        <h4>Edit course</h4>
      </b-col>
      <b-col align-self="end">
        <b-button
          size="sm"
          variant="outline-none"
          @click="$router.push('/course/'+courseId)">
          <font-awesome-icon
            :icon="['fas', 'times']"
            size="2x"/>
        </b-button>
      </b-col>
    </b-row>
    <b-row class = "ml-1 mr-1">
      <b-col>
        <hr>
      </b-col>
    </b-row>
    <b-row class = "ml-1">
      <b-col
        cols = "2"
        class="text-secondary">
        <strong>Header</strong>
      </b-col>
    </b-row>
    <b-row class = "mt-1 ml-1 mr-1">
      <b-col>
        <b-form-input
          v-model="coursetitle"
          placeholder="Title"/>
      </b-col>
    </b-row>
    <b-row class = "ml-1 mt-1">
      <b-col
        cols = "2"
        class="text-secondary">
        <strong>Overview</strong>
      </b-col>
    </b-row>
    <b-row class = "mt-2 ml-1 mr-1">
      <b-col cols= "12">
        <ckeditor
          :editor="editor"
          v-model="contentsum"
          :config="editorConfig"/>
      </b-col>
    </b-row>

    <b-row class = "ml-1 mt-2">
      <b-col
        cols = "1"
        class="text-secondary">
        <strong>Course</strong>
      </b-col>
      <b-col
        cols = "0"
        class="text-secondary">
        <!-- Replace hardcoded id -->
        <b-button class="course-creation-button" @click="createNewChapter()">Chapter +</b-button>
        <b-button class="mr-2 ml-2 course-creation-submit-button" @click="editCourse()">Confirm</b-button>
        <b-button class="course-creation-delete-button"@click="deleteCourse()">Delete</b-button>
      </b-col>
    </b-row>

    <b-container>
      <div v-for="chapter in courseChapters" :key="chapter">
        <b-button
          v-b-toggle="chapter.name"
          v-if="chapter != null"
          id="content-header"
          :aria-expanded="chapter.opened ? 'true' : 'false'"
          :aria-controls="chapter.name"
          class="mt-2"
        >
          {{ chapter.name }}
          <font-awesome-icon
            v-if="chapter.opened == false"
            :icon="['fas', 'chevron-down']"
            size="lg"
          />
          <font-awesome-icon
            v-if="chapter.opened == true"
            :icon="['fas', 'chevron-up']"
            size="lg" />
        </b-button>

        <b-button class="mt-2 ml-2 course-creation-button" @click="deleteChapter(chapter.id)">Delete IC</b-button>
        <b-button class="mt-2 ml-2 course-creation-button" @click="editNameChapter(chapter)">Rename *</b-button>
        <b-button class="mt-2 ml-2 mr-2 course-creation-button" @click="createNewVideo(chapter.id)">Video +</b-button>
        <b-button class="mt-2 course-creation-button" @click="createNewAssignment(chapter.id)">Assignment +</b-button>

        <b-collapse v-if="chapter != null" :id="chapter.name" v-model="chapter.opened" class="mt-2">
          <b-card
            v-for="video in getChapterVideos(chapter.id)"
            id="video"
            :key="video">
            <span v-if="video != null" @click="openVideo(video)"> {{ video.title }} </span>
            <b-button class="ml-2 course-creation-button"  @click="deleteVideo(video)">Delete IC</b-button>
            <b-button class="ml-2 mr-2 course-creation-button" @click="renameVideo(video)">Rename *</b-button>
            <b-button class="course-creation-button" @click="editLinkVideo(video)">Link /</b-button>
          </b-card>
          <b-card
            v-for="assignment in getChapterAssignments(chapter.id)"
            id="assignment"
            :key="assignment">
            <span v-if="assignment != null" @click="openAssignment(assignment)"> {{ assignment.name }} </span>
            <b-button class="mt-2 ml-2 course-creation-button" @click="deleteAssignment(assignment)">Delete IC</b-button>
            <b-button class="mt-2 ml-2 mr-2 course-creation-button" @click="renameAssignment(assignment)">Rename *</b-button>
            <b-button class="mt-2 mr-2 course-creation-button"@click="editDescriptionAssignment(assignment)">Text /</b-button>
            <b-button class="mt-2 course-creation-button"@click="editRepoAssignment(assignment)">Repo ^</b-button>
          </b-card>
        </b-collapse>
      </div>
    </b-container>
  </div>
</template>
<style>
#content-header {
  color: black !important;
  background-image: linear-gradient(#f4f4f4, #fafafa) !important;
  border: none !important;
  font-weight: bold !important;
  text-align: left;
}

.course-creation-button {
  background: linear-gradient(#F7941E, #F9AB4F) !important;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem;
}

.course-creation-submit-button {
  background: linear-gradient(#8CC63F,rgb(103, 146, 46)) !important;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem;
}
.course-creation-delete-button {
  background: linear-gradient(#F35F3B, rgb(209, 83, 51)) !important;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem 0.3rem;
}
</style>
<script>
import { mdbContainer, mdbRow, mdbCol } from "mdbvue";

import EventTemplate from '../components/Event-components/event-template'
import axios from 'axios'

axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'

import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    EventTemplate
  },
  data () {
    return {
      selectedTopic: null,
      selectedRepo: null,
      topics: [],
      repository: [],
      title: '',
      editor: ClassicEditor,
      editorData: '',
      editorConfig: {
        toolbar: {
          items: [
               'bold',
               'italic',
               'undo',
               'redo'
           ]
        }
      },
      contents: [
        ['Chapter 1', [{name: 'Video 1', link: '', id: 1, isVideo: true}, {name: 'Video 2', link: '', id: 2, isVideo: true}, {name: 'Assignment 1', overview: '', id: 3, isVideo: false}], true],
        ['Chapter 2', [{name: 'Video 3', link: '', id: 4, isVideo: true}], false]
      ],
      // Added from course.vue
      chapterList: [],
      videoList: [],
      assignmentList: [],
      coursetitle: '*current video/assignment*',
      contentsum: '',
      lecturer: '',
      q_and_a: [],
      courseChapters: [],
      reported: false,
      bookmarked: false,
      testText: null,
      chapterObject: [],
      chaptersVideos: [],
      chaptersAssignments: [],
      chaptersIdsWIthVideosAlreadyCalled: [],
      chaptersIdsWIthAssignmentsAlreadyCalled: [],
      isVideoOpen: false,
      isAssignmentOpen: false,
      videoLink: 'https://www.youtube.com/embed/ZSexhaiMKJE?enablejsapi=1&origin=https%3A%2F%2Fmdbootstrap.com',
      assignmentText: '',
      assignmentGithubLink: '',
      courseId: this.$route.params.id
    }
  },
  mounted () {
    var chapterId = 1

    axios.get('/course/' + this.courseId)
      .then(response => {
        console.log(response.data)
        this.lecturer = response.data.lecturerId
        this.contentsum = response.data.overview
        this.coursetitle = response.data.name
        console.log('tt: ', response)
      })

    axios.get('/course/' + this.courseId + '/chapters')
      .then((response) => {
        for (let index = 0; index < response.data.length; index++) {
          let chapter = response.data[index]
          chapter.opened = true
          this.chapterObject.push(chapter)
          this.courseChapters.push(chapter)
        }
      })
  },
  methods: {
    getChapterVideos (chapterId) {
      let isAlreadyCalled = false  
      for (let index = 0; index < this.chaptersIdsWIthVideosAlreadyCalled.length; index++) {
        if (this.chaptersIdsWIthVideosAlreadyCalled[index] == chapterId) {   
          isAlreadyCalled = true
          return this.chaptersVideos[index]
        }
      }
      if (!isAlreadyCalled) {
        this.chaptersIdsWIthVideosAlreadyCalled.push(chapterId)
        axios.get('/course/' + this.courseId + '/chapters/' + chapterId + '/videos') // using response.data
          .then((response) => {
            this.chaptersVideos.push(response.data)
            console.log('Response videos', response.data)
            return response.data
          })
      }
    },
    getChapterAssignments (chapterId) {
      let isAlreadyCalled = false
      for (let index = 0; index < this.chaptersIdsWIthAssignmentsAlreadyCalled.length; index++) {
        if (this.chaptersIdsWIthAssignmentsAlreadyCalled[index] == chapterId) {
          isAlreadyCalled = true
          return this.chaptersAssignments[index]
        }
      }
      if (!isAlreadyCalled) {
        this.chaptersIdsWIthAssignmentsAlreadyCalled.push(chapterId)
        axios.get('/course/' + this.courseId + '/chapters/' + chapterId + '/assignments') // using response.data
          .then((response) => {
            this.chaptersAssignments.push(response.data)
            console.log('Response assignments', response.data)
            return response.data
          })
      }
    },
    //UPDATE METHODS
    renameAssignment(assignment) {
      // '/course/chapters/assignments/:chapterId/:assignmentId/:name'
      var txt;
      var wasEditCancelled = false;
      var text = prompt("Rename to:", assignment.name);
      if (text == null || text == "") {
        wasEditCancelled = true
        txt = assignment.name;
      } else {
        txt = text;
      }
      axios.put('/course/chapters/assignments/edit/'+ assignment.chapterId + '/' + assignment.id + '/' + txt + '/' + assignment.description, {
        github_link: assignment.githubLink
      })
        .catch(e => {
          this.errors.push(e)
        })
      if (!wasEditCancelled) this.$router.go(0), 2000;
    },
    editDescriptionAssignment(assignment) {
      // '/course/chapters/assignments/:chapterId/:assignmentId/:name'
      var txt;
      var wasEditCancelled = false;
      var text = prompt("Rename to:", assignment.description);
      if (text == null || text == "") {
        wasEditCancelled = true
        txt = assignment.description;
      } else {
        txt = text;
      }
      axios.put('/course/chapters/assignments/edit/'+ assignment.chapterId + '/' + assignment.id + '/' + assignment.name + '/' + txt, {
        github_link: assignment.githubLink
      })
        .catch(e => {
          this.errors.push(e)
        })
      if (!wasEditCancelled) this.$router.go(0)
    },
    editRepoAssignment(assignment) {
      // '/course/chapters/assignments/:chapterId/:assignmentId/:name'
      var txt;
      var wasEditCancelled = false;
      var text = prompt("Rename to:", assignment.githubLink);
      if (text == null || text == "") {
        txt = assignment.githubLink;
        wasEditCancelled = true
      } else {
        txt = text;
      }
      axios.put('/course/chapters/assignments/edit/'+ assignment.chapterId + '/' + assignment.id + '/' + assignment.name + '/' + assignment.description, {
        github_link: txt
      })
        .catch(e => {
          this.errors.push(e)
        })
      if (!wasEditCancelled) this.$router.go(0)
    },
    renameVideo(video) {
      // /course/chapters/videos/:chapterId/:id/:videoTitle/:link
      var txt;
      var wasEditCancelled = false;
      var name = prompt("Rename to:", video.title);
      if (name == null || name == "") {
        wasEditCancelled = true
        txt = video.title;
      } else {
        txt = name;
      }
      axios.put('/course/chapters/videos/'+ video.chapterId + '/' + video.id + '/' + txt + '/', {
          videoLink: video.link
        })
        .catch(e => {
          this.errors.push(e)
        })
      if (!wasEditCancelled) this.$router.go(0)
    },
    editLinkVideo(video) {
      // /course/chapters/videos/:chapterId/:id/:videoTitle/:link
      var txt;
      var wasEditCancelled = false;
      var link = prompt("Rename to:", video.link);
      if (link == null || link == "") {
        wasEditCancelled = true
        txt = video.link;
      } else {
        txt = link;
      }
      axios.put('/course/chapters/videos/'+ video.chapterId + '/' + video.id + '/' + video.title + '/', {
          videoLink: txt
        })
        .catch(e => {
          this.errors.push(e)
        })
      if (!wasEditCancelled) this.$router.go(0)
    },
    editNameChapter(chapter) {
      // /course/:courseId/:chapterName/:id
      var txt;
      var wasEditCancelled = false;
      var link = prompt("Rename to:", chapter.name);
      if (link == null || link == "") {
        wasEditCancelled = true
        txt = chapter.name;
      } else {
        txt = link;
      }

      axios.put('/course/' + chapter.courseId + '/' + txt + '/'+ chapter.id)
        .catch(e => {
          this.errors.push(e)
        })
      if (!wasEditCancelled) this.$router.go(0)
    },
    editCourse() {
      console.log(this.coursetitle + "" + this.contentsum + "" + this.courseId)
      axios.put('/course/short/edit/rename/' + this.coursetitle + '/' + this.contentsum.substring(3,this.contentsum.length-4) + '/'+ this.courseId)
        .catch(e => {
          this.errors.push(e)
        })
      this.$router.go(0)
    },
    //POST METHODS
    createNewChapter() {
      axios.post('/course/' + this.courseId + '/DefaultName')
        .catch(e => {
          this.errors.push(e)
        })
        // TODO reload page
      this.$router.go(0)
    },
    createNewVideo(chapterId) {
      //'/course/chapters/videos/:chapterId/:title/:link'
      // TODO make so actual links can be added without crashing
      axios.post('/course/chapters/videos/' + chapterId + "/DefaultVideo/", {
          videoLink: 'https://www.youtube.com/embed/ZSexhaiMKJE?enablejsapi=1&origin=https%3A%2F%2Fmdbootstrap.com'
        })
        .catch(e => {
          this.errors.push(e)
        })
        // TODO reload page
      this.$router.go(0)
    },
    createNewAssignment(chapterId) {
      axios.post('/course/chapters/assignments/' + chapterId + "/DefaultAssignment")
        .catch(e => {
          this.errors.push(e)
        })
        // TODO reload page
      this.$router.go(0)
    },
    //DELETE METHODS
    deleteChapter(chapterId) {
      axios.delete('/course/chapter/' + chapterId)
        .catch(e => {
          this.errors.push(e)
        })
        // TODO reload page
      this.$router.go(0)
    },
    deleteVideo(video) {
      // '/course/chapters/videos/:chapterId/:videoId'
      axios.delete('/course/chapters/videos/' + video.chapterId + '/' + video.id)
        .catch(e => {
          this.errors.push(e)
        })
        // TODO reload page
      this.$router.go(0)
    },
    deleteAssignment(assignment) {
      // /course/chapters/assignments/:chapterId/:assignmentId
      axios.delete('/course/chapters/assignments/' + assignment.chapterId + '/' + assignment.id)
        .catch(e => {
          this.errors.push(e)
        })
        // TODO reload page
      this.$router.go(0)
    },
    deleteCourse() {
      axios.delete('/course/' + this.courseId)
        .catch(e => {
          this.errors.push(e)
        })
      this.$router.push('/courses')
    }
  }
}
</script>
<style scoped></style>
