<template>
    <div>
        <b-container>
            <div id="add-course-container">
                
                <b-button
                size="sm"
                variant="outline-none"
                @click="$router.push('/course-creation')">
                <strong class="mr-1">Add course</strong>
                <font-awesome-icon
                    :icon="['fas', 'plus']"
                    size="1x"/>
                </b-button>
            </div>
            <hr>
            <div class="container-fluid pt-2">
                <div class="container pt-0 mt-2 carousel-inner" v-for="group in groups" :key="group">
                    <carousel :name="group.name" :groupId="group.id"></carousel>
                </div>
            </div>
        </b-container>
    </div>
</template>
<script>

    import Carousel from "../components/carousel/CoursesCarousel";
    import axios from 'axios'

    axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
    export default {
        components: {Carousel},
        data () {
            return {
                user: 'Bloomer',
                groups: []
            }
        },
        mounted () {
            axios.get('/groups')
                .then(response => {
                    this.groups = response.data
                    console.log('tt: ', response)
                })

        },
        methods: {

        }
    }

</script>
<style scoped>
    hr{
        margin: 0.2rem 0;
    }
    h1{
        margin-bottom: 0;
    }
    h1.black{
        color: white;
        background-color:black;
    }
    .dropdown-item svg {
        min-width: 40px;
        margin-right: 8px;
    }

    .container {
        z-index: 0;
    }
</style>
