<template>
  <div>
    <b-navbar toggleable="sm" type="dark" variant="secondary outline-light" class="navbar">
      <b-navbar-item variant="outline-light">
        <b-button
          size="sm"
          @click="$router.push('/courses')">
          <!-- this breaks if you've opened a video with an invalid link -->
          <font-awesome-icon
            icon="long-arrow-alt-left"
            size="lg" />
        </b-button>
      </b-navbar-item>
      <div />
      <b-navbar-nav class="ml-4">
        <b-navbar-item class="font-italic text-white">{{ coursetitle }}</b-navbar-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-navbar-item class="mr-4 mt-1" variant="outline-light">
          <b-button
            v-b-modal.modal-1
            v-b-popover.hover.bottom="'Report video!'"
            size="sm"
            @click="reportVid"
          >
            <font-awesome-icon
              icon="exclamation"
              size="1x" />
          </b-button>
          <b-modal id="modal-1">
            <p class="my-4">You want to report this video!</p>
          </b-modal>
        </b-navbar-item>
        <b-navbar-item
          class="mr-4 mt-1"
          variant="outline-light">
          <b-button
            v-b-popover.hover.bottom="'Forum'"
            size="sm"
            @click="$router.push('/forum')">
            <font-awesome-icon
              icon="user-friends"
              size="1x" />
          </b-button>
        </b-navbar-item>
        <b-nav-item-dropdown variant="outline-light" no-caret right>
          <template v-slot:button-content>
            <font-awesome-icon
              icon="ellipsis-v"
              size="sm" />
          </template>
          <b-dropdown-item @click="$router.push('/course-edit/'+courseId)">
              Edit
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>

    <div
      id="video-sector">
      <mdb-container id="video-container">
        <div
          id="video-panel"
          class="embed-responsive embed-responsive-21by9">
          <iframe
            v-if="isVideoOpen"
            :src="videoLink"
            class="embed-responsive-item"
          />
          <div
            v-if="isAssignmentOpen"
            style="color: white; top: 10%; position: absolute;"
          >
            <strong>Description:</strong>
            <br>
            {{ assignmentText }}
            <br>
            <strong>Github Repo:</strong>
            <br>
            {{ assignmentGithubLink }}
          </div>
        </div>
      </mdb-container>
    </div>

    <b-tabs
      active-nav-item-class="bg-light text-dark"
      active-tab-class="bg-light text-dark"
      content-class="mt-4 bg-light text-dark"
      nav-class="bg-dark text-dark"
      nav-wrapper-class="bg-dark text-dark"
      justified
    >
      <b-tab
        title="Overview"
        title-link-class="text-light font-weight-bold">
        <b-container>
          <b-row>
            <b-col cols="0">
              <b-button variant="outline-none" @click="bookmark">
                <font-awesome-icon
                  v-if="bookmarked == false"
                  :icon="['fas', 'bookmark']"
                  color="#CCCCCC"
                  size="lg"
                />
                <font-awesome-icon
                  v-if="bookmarked == true"
                  :icon="['fas', 'bookmark']"
                  size="lg" />
              </b-button>
            </b-col>
            <b-col cols="2" class="mt-2">
              <strong>Bookmark course</strong>
            </b-col>
          </b-row>
          <b-row class="mt-2">
            <b-col cols="2">
              <strong>Introduction</strong>
            </b-col>
          </b-row>
          <b-row class="mt-2">
            <b-col cols="4">
              {{ contentsum }}
            </b-col>
          </b-row>
          <b-row class="mt-2">
            <b-col cols="2">
              <strong>Lecturers</strong>
            </b-col>
          </b-row>
          <b-row class="mt-2 mb-5">
            <b-col cols="1">
              <p>{{ lecturerName }}</p>
            </b-col>
          </b-row>
        </b-container>
      </b-tab>
      <b-tab title="Content" title-link-class="text-light font-weight-bold">
        <b-container>
          <div v-for="chapter in courseChapters" :key="chapter">
            <b-button
              v-b-toggle="chapter.name"
              v-if="chapter != null"
              id="content-header"
              :aria-expanded="chapter.opened ? 'true' : 'false'"
              :aria-controls="chapter.name"
              class="mt-2"
            >
              {{ chapter.name }}
              <font-awesome-icon
                v-if="chapter.opened == false"
                :icon="['fas', 'chevron-down']"
                size="lg"
              />
              <font-awesome-icon
                v-if="chapter.opened == true"
                :icon="['fas', 'chevron-up']"
                size="lg" />
            </b-button>
            <b-collapse v-if="chapter != null" :id="chapter.name" v-model="chapter.opened" class="mt-2">
              <b-card
                v-for="video in getChapterVideos(chapter.id)"
                id="video"
                :key="video">
                <div v-if="video != null" @click="openVideo(video)"> {{ video.title }} </div>
              </b-card>
              <b-card
                v-for="assignment in getChapterAssignments(chapter.id)"
                id="assignment"
                :key="assignment">
                <div v-if="assignment != null" @click="openAssignment(assignment)"> {{ assignment.name }} </div>
              </b-card>
            </b-collapse>
          </div>
        </b-container>
      </b-tab>
      <b-tab title="Q&A" title-link-class="text-light font-weight-bold">
        <b-container class="mb-5">
          <div v-for="q_or_a in q_and_a" :key="q_or_a">
            <b-row class="mt-2">
              <b-col
                cols="0"
                offset-md="1"
                md="1"
                class="mt-2">
                <font-awesome-icon
                  :icon="['fas', 'question']"
                  size="lg" />
              </b-col>
              <b-col cols="3" class="mt-2">
                <strong cols="3">{{ q_or_a.question }}</strong>
              </b-col>
            </b-row>

            <b-row>
              <b-col
                cols="0"
                offset-md="1"
                md="1"
                class="mt-2">
                <font-awesome-icon
                  :icon="['fas', 'exclamation']"
                  size="lg" />
              </b-col>
              <b-col cols="3" class="mt-2">
                <div cols="3">{{ q_or_a.answer }}</div>
              </b-col>
            </b-row>

            <hr>

          </div>
        </b-container>
      </b-tab>
    </b-tabs>
  </div>
</template>

<style>
#content-header {
  color: black !important;
  background-image: linear-gradient(#f4f4f4, #fafafa) !important;
  border: none !important;
  font-weight: bold !important;
  width: 100% !important;
  text-align: left;
}
#subcontent {
  border: none !important;
}
#subcontent:hover {
  background: #f4f4f4 !important;
}
#video-container {
  padding: 0 !important;
}
#video-sector {
  background-color: black !important;
}
.navbar {
  border: none;
  height: 5%;
}
</style>
<script>
import { mdbContainer, mdbRow, mdbCol } from "mdbvue";

import EventTemplate from '../components/Event-components/event-template'
import axios from 'axios'

axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'

export default {
  components: {
    mdbContainer,
    mdbRow,
    mdbCol,
    EventTemplate
  },
  data() {
    return {
      chapterList: [],
      videoList: [],
      assignmentList: [],
      coursetitle: '*current video/assignment*',
      contentsum: '',
      lecturer: 0,
      q_and_a: [],
      contents: [
        ['Chapter 1', ['Video 1', 'Video 2', 'Assignment 1'], true],
        ['Chapter 2', ['Video 1', 'Video 2', 'Video 3'], false]
      ],
      courseChapters: [],
      reported: false,
      bookmarked: false,
      testText: null,
      chapterObject: [],
      chaptersVideos: [],
      chaptersAssignments: [],
      chaptersIdsWIthVideosAlreadyCalled: [],
      chaptersIdsWIthAssignmentsAlreadyCalled: [],
      isVideoOpen: false,
      isAssignmentOpen: false,
      videoLink: 'https://www.youtube.com/embed/ZSexhaiMKJE?enablejsapi=1&origin=https%3A%2F%2Fmdbootstrap.com',
      assignmentText: '',
      assignmentGithubLink: '',
      courseId: this.$route.params.id,
      courseGroupId: '',
      userId: 0,
      lecturerName: ''
    };
  },
  mounted () {
    var chapterId = 1

    axios.get('/user', { headers: { authorization: localStorage.getItem('authToken') } })
      .then(response => {
        this.userId = response.data.id
        console.log('USER: ', response)
        axios.get('/' + this.courseId + '/' + this.userId + '/bookmark')
        .then(response => {
          console.log(response)
          this.testText = response.data.isBookmarked
          this.bookmarked = response.data.isBookmarked
          console.log('tt: ', response.data.isBookmarked)
        })
    })
    axios.get('/course/' + this.courseId)
      .then(response => {
        console.log(response.data)
        this.lecturer = response.data.lecturerId
        this.contentsum = response.data.overview
        this.coursetitle = response.data.name
        this.courseGroupId = response.data.groupId
        console.log('tt: ', response)
        
        axios.get('/user/username/' + this.lecturer)
          .then(response => {
            this.lecturerName = response.data
        })
      })

    axios.get('/course/' + this.courseId + '/faq')
      .then(response => {
        console.log(response.data)
        this.q_and_a = response.data
        console.log('tt: ', response)
      })

    axios.get('/course/' + this.courseId + '/chapters')
      .then((response) => {
        for (let index = 0; index < response.data.length; index++) {
          let chapter = response.data[index]
          chapter.opened = false
          if (index == 0) chapter.opened = true
          this.chapterObject.push(chapter)
          this.courseChapters.push(chapter)
        }
      })

    axios.get('/course/' + this.courseId + '/chapters/' + chapterId + '/videos')
      .then(response => {
        console.log(response.data)
        this.videoList = response.data
        console.log('tt: ', response)
      })

    axios.get('/course/' + this.courseId + '/chapters/' + chapterId + '/assignments')
      .then(response => {
        console.log(response.data)
        this.assignmentList = response.data
        console.log('tt: ', response)
      })
  },
  methods: {
    openVideo (video) {
      this.coursetitle = video.title
      this.videoLink = video.link
      this.isVideoOpen = true
      this.isAssignmentOpen = false
    },
    openAssignment (assignment) {
      this.coursetitle = assignment.name
      this.assignmentText = assignment.description
      this.assignmentGithubLink = assignment.githubLink
      this.isVideoOpen = false
      this.isAssignmentOpen = true
    },
    getChapterVideos (chapterId) {
      let isAlreadyCalled = false
      for (let index = 0; index < this.chaptersIdsWIthVideosAlreadyCalled.length; index++) {
        if (this.chaptersIdsWIthVideosAlreadyCalled[index] == chapterId) {   
          isAlreadyCalled = true
          return this.chaptersVideos[index]
        }
      }
      if (!isAlreadyCalled) {
        this.chaptersIdsWIthVideosAlreadyCalled.push(chapterId)
        axios.get('/course/' + this.courseId + '/chapters/' + chapterId + '/videos')
          .then((response) => {
            this.chaptersVideos.push(response.data)
            console.log('Response videos', response.data)
            return response.data
          })
      }
    },
    getChapterAssignments (chapterId) {
      let isAlreadyCalled = false
      for (let index = 0; index < this.chaptersIdsWIthAssignmentsAlreadyCalled.length; index++) {
        if (this.chaptersIdsWIthAssignmentsAlreadyCalled[index] == chapterId) {
          isAlreadyCalled = true
          return this.chaptersAssignments[index]
        }
      }
      if (!isAlreadyCalled) {
        this.chaptersIdsWIthAssignmentsAlreadyCalled.push(chapterId)
        axios.get('/course/' + this.courseId + '/chapters/' + chapterId + '/assignments')
          .then((response) => {
            this.chaptersAssignments.push(response.data)
            console.log('Response assignments', response.data)
            return response.data
          })
      }
    },
    reportVid() {
      if (this.reported !== true) {
        this.reported = true;
      }
    },
    bookmark () {
      this.bookmarked = !this.bookmarked
      this.testText = this.bookmarked

      if (this.bookmarked) {
        axios.post('/' + this.courseId + '/' + this.userId + '/bookmark/post')
          .catch(e => {
          })
      } else {
        axios.delete('/' + this.courseId + '/' + this.userId + '/bookmark/delete')
          .catch(e => {
          })
      }
    },
  }
};
</script>
