<template>
    <div>
        <div>
        <event-new-event-button :editButtonClicked="showEdit" @arrowIsClicked="closeEditPopUp($event)"/>
        </div>

        <div>
            <event-detail v-if="showDetails" :selectedItemId="this.selectedItem.id" @close="rerender"></event-detail>
            <event-edit-events v-if="showEdit" :selected-item-id=" this.selectedItem.id" @close="showDetails = false"/>
        </div>
        <ul>
            <li
                v-for="event in eventList"
                :key="event.title"
                v-on:click="changeState(event),handleSelectItem(event)">
                <button id = "editButton" class = "material-icons" v-on:click="toggleEdit()">edit</button>
                <like-button v-if="likeButton" id="like" @isSubscribeCompClicked="getDataFromEventTemplate($event)" :selectedItemId="event.id" />

                <event-template
                    :date="event.date"
                    :title="event.name"
                    :location="event.location"
                    :background="event.pictures[0]"
                    :id="event.id"
                    @isSubscribeCompClicked="getDataFromEventTemplate($event)"/>
            </li>
        </ul>
    </div>
</template>
<style scoped>
    li{
        margin-left: -15px;
        list-style-type:none;
        /*<button>*/
    }
    ul{
        padding: 15px;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 10px;
    }
    #editButton{
        position: absolute;
        margin-left: 25px;
        margin-top: 5px;
    }
    #like{
        position: absolute;
        float:right;
        margin-top: 100px;
        /*margin-right: 10px;*/
        margin-left: 210px;
    }

</style>
<script>
    import EventNewEventButton from "../components/Event-components/Event-newEventButton";
    import EventTemplate from "../components/Event-components/event-template";
    import EventDetail from "../components/Event-components/EventDetail";
    import axios from 'axios';
    import EventEditEvents from "../components/Event-components/Event-editEvents";
    import LikeButton from "../components/events/LikeButton";
    console.log(window.location.hostname + ':3000');
    axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';

    export default {
        components: {LikeButton, EventNewEventButton, EventEditEvents, EventTemplate, "event-detail" : EventDetail},
        data () {
            return {
                eventList: [],
                showDetails : false,
                showEdit: false,
                editPress: false,
                likeButton: true,
                selectedItem : null,
                isSubscribeComponentClicked : false,
            }
        },
        mounted () {
            axios.get('/events')
                .then(response => {
                    this.eventList = response.data
                })
        },
        methods: {
            changeState:function(event){
                if (!this.isSubscribeComponentClicked && !this.editPress){
                    this.showDetails = !this.showDetails;
                }
                this.editPress = false;
                this.isSubscribeComponentClicked = false;
            },
            handleSelectItem:function(item){
                this.selectedItem = item;
            },
            getDataFromEventTemplate:function(e){
                this.isSubscribeComponentClicked = e;
                // this.selectedItem = item;


            },
            toggleEdit: function(){
                this.editPress = true;
                this.showEdit = !this.showEdit;
            },
            handleSelctItem: function(item){
                this.selectedItem = item;
            },
            getEditButtonFromEvent:function(e){
                this.isEditClicked = e;
            },
            closeEditPopUp:function(e){
                this.showEdit = !e;
            },
            rerender: function(){
                this.likeButton = false;
                this.showDetails = false;
                setTimeout(this.render, 0);

            },
            render: function(){
                this.likeButton = true;
            }
        }
}
</script>
