/* eslint-disable vue/valid-v-for */
/* eslint-disable vue/require-v-for-key */
/* eslint-disable vue/valid-template-root */
<script src="../node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="../node_modules/@ckeditor/ckeditor5-vue/dist/ckeditor.js"></script>
<template>
  <div style="margin-bottom: 30px">

    <!--        QUESTION START-->

    <b-card>
      <div class="mt-3 post-vote">
        <div class="buttons">
          <i
            class="fa fa-sort-up"
            style="color:green"
            @click="upvotePost(question)"/>
          <i
            class="fa fa-sort-down"
            style="color:red"
            @click="downvotePost(question)"/>
        </div>
        <p class="post-vote-rating">{{ question.rating }}</p>
      </div>
      <div class="post-contents">
        <h4 class="card-title">{{ question.title }}
          <font-awesome-icon
            icon="times"
            class="fa-1x cursor-pointer"
            style="float: right"
            @click="$router.push('/threads')"
          />
        </h4>
        <h6 class="card-subtitle text-muted mb-2">Posted by {{ question.username }}</h6>
        
        <b-card-text>
          {{ question.content }}
        </b-card-text>
      </div>

    </b-card>
    <!--        QUESTION END-->
    <!--TEXT EDITOR START-->
    <div class="text-editor">
      <ckeditor
        id="ckeditor"
        :editor="editor"
        v-model="editorData"
        :config="editorConfig"/>
      <b-button
        class="submit-comment"
        @click="comment(question.id, editorData, 0)">Comment
      </b-button>
      <b-dropdown
        id="dropdown-1"
        text="Sort By"
        class="m-md-2"
        variant="warning">
        <b-dropdown-item
          @click="orderCommentsDate('desc')">Sort by newest date
        </b-dropdown-item>
        <b-dropdown-item
          @click="orderCommentsDate('asc')">Sort by oldest date
        </b-dropdown-item>
        <b-dropdown-item
          @click="orderCommentsRating('asc')">Sort by highest rating
        </b-dropdown-item>
        <b-dropdown-item
          @click="orderCommentsRating('desc')">Sort by lowest rating
        </b-dropdown-item>
      </b-dropdown>
    </div>
    <!--        TEXT EDITOR END-->
    <!--        MAIN COMMENT START-->
    <b-card
      v-for="answer in answers"
      no-body
      class="card-comment"
    >

      <!--            // eslint-disable-next-line vue/valid-v-for-->
      <b-row no-gutters>
        <b-col
          md="0"
          class="profile-question">
          <div class="post-vote cmt">
            <div class="buttons">
              <i
                class="fa fa-sort-up"
                style="color:green"
                @click="upvoteComment(answer)"/>
              <i
                class="fa fa-sort-down"
                style="color:red"
                @click="downvoteComment(answer)"/>
            </div>
            <p class="post-vote-rating">{{ answer.rating }}</p>
          </div>
        </b-col>
        <b-col>
          <b-card-body>
            <div class="comment-header">
              <p class="margin-left"><b>{{ answer.username }} </b> </p><i>Asked: {{ getDisplayDate(answer.dateAdded) }}</i>
            </div>
            <b-card-text>
              {{ answer.content }}
              <br>
              <br>
              <div
                class="forum-reaction"
                @click="getRecursiveComments(answer.id)">
                <font-awesome-icon
                  v-if="toShowReplies(answer.id) == false"
                  icon="chevron-up"
                  class="cursor-pointer comment-section-icon"/>
                <font-awesome-icon
                  v-if="toShowReplies(answer.id) == true"
                  icon="chevron-down"
                  class="cursor-pointer comment-section-icon"/>
                Replies
              </div>
              <div
                class="forum-reaction"
                @click="reply(userId, answer.id)">
                <font-awesome-icon
                  icon="comment-alt"
                  class="cursor-pointer comment-section-icon"/>
                Reply
              </div>
            </b-card-text>
            <!--                        SUBCOMMENT START-->
            <div
              v-for="comment in answer.children"
              v-if="toShowReplies(answer.id)"
              :key="comment"
              class="reply">
              <b-row>
                <b-col
                  md="0"
                  class="profile-question">
                  <div class="post-vote cmt">
                    <div class="buttons">
                      <i
                        class="fa fa-sort-up"
                        style="color:green"
                        @click="upvoteComment(comment)"/>
                      <i
                        class="fa fa-sort-down"
                        style="color:red"
                        @click="downvoteComment(comment)"/>
                    </div>
                    <p class="post-vote-rating">{{ comment.rating }}</p>
                  </div>
                </b-col>
                <b-col md="6">
                  <div class="border"/>
                  <b-card-text>
                    <div class="comment-header">
                      <p class="margin-left"><b>{{ answer.username }} </b> </p><i>Asked: {{ getDisplayDate(answer.dateAdded) }}</i>
                    </div>
                  <p style="margin:0"> {{ comment.content }} </p></b-card-text>
                  <div
                    class="forum-reaction"
                    @click="getRecursiveComments(comment.id)">
                    <font-awesome-icon
                      v-if="toShowReplies(comment.id) == false"
                      icon="chevron-up"
                      class="cursor-pointer comment-section-icon"/>
                    <font-awesome-icon
                      v-if="toShowReplies(comment.id) == true"
                      icon="chevron-down"
                      class="cursor-pointer comment-section-icon"/>
                    Replies
                  </div>
                  <div class="forum-reaction">
                    <font-awesome-icon
                      icon="comment-alt"
                      class="cursor-pointer comment-section-icon"
                      @click="reply(userId, comment.id)"/>
                    Reply
                  </div>
                </b-col>
                <div
                  v-for="lastcmt in comment.children"
                  v-if="toShowReplies(comment.id)"
                  :key="lastcmt"
                  style="width:100%;padding-left:100px;"
                  class="reply">
                  <b-row>
                    <b-col
                      md="0"
                      class="profile-question">
                      <div class="post-vote cmt">
                        <div class="buttons">
                          <i
                            class="fa fa-sort-up"
                            style="color:green"
                            @click="upvoteComment(lastcmt)"/>
                          <i
                            class="fa fa-sort-down"
                            style="color:red"
                            @click="downvoteComment(lastcmt)"/>
                        </div>
                        <p class="post-vote-rating">{{ lastcmt.rating }}</p>
                      </div>
                    </b-col>
                    <b-col md="6">
                      <div class="border"/>
                      <b-card-text>
                        <div class="comment-header">
                          <p class="margin-left"><b>{{ answer.username }} </b> </p><i>Asked: {{ getDisplayDate(answer.dateAdded) }}</i>
                        </div>

                      <p style="margin:0"> {{ lastcmt.content }} </p></b-card-text>
                    </b-col>
                  </b-row>
                </div>
              </b-row>
            </div>
          </b-card-body>
        </b-col>
      </b-row>
      <br>

    </b-card>
    <!--        MAIN COMMENT END-->
  </div>
</template>

<script>
    import '../../public/index.css';
    import axios from 'axios'
    import moment from 'moment'

    axios.defaults.baseURL = 'http://' + window.location.hostname + ':3000'
    axios.defaults.headers.post['Access-Control-Allow-Origin'] = '+'
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic'

    export default {
        name: 'ForumPage',
        data() {
            return {
                content: this.$route.params.id,
                type : this.$route.params.type,
                showReplies: 0,
                editor: ClassicEditor,
                editorData: "",
                editorConfig: {
                    toolbar: {
                        items: [
                            'bold',
                            'italic',
                            'undo',
                            'redo'
                        ]
                    }
                },
                question: {
                    id: 0,
                    title: "",
                    username: ""
                },
                answers: [],
                allReplies: [],
                identation: [],
                userId: 0
            }
        },
        methods: {
            openReplies(commentId) {
                this.showReplies = commentId
            },
            orderCommentsRating(order) {
                if(order === 'desc') {
                    this.answers.sort((a, b) =>
                        (a.rating > b.rating) ? 1 :
                            ((b.rating > a.rating) ? -1 : 0)
                    );
                } else {
                    this.answers.sort((a, b) =>
                        (a.rating < b.rating) ? 1 :
                            ((b.rating < a.rating) ? -1 : 0)
                    );
                }
            },
            orderCommentsDate(order) {
                if(order === 'desc') {
                    this.answers.sort((a, b) =>
                        (a.rating > b.rating) ? 1 :
                            ((b.date_added > a.date_added) ? -1 : 0)
                    );
                } else {
                    this.answers.sort((a, b) =>
                        (a.date_added < b.date_added) ? 1 :
                            ((b.date_added < a.date_added) ? -1 : 0)
                    );
                }
            },
            comment(postId, content, parent) {
                let usrId = this.userId; // this will be changed when during integration.abs
                var cmt = {
                    user_id: this.userId,
                    question_id : 0,
                    rating: 0,
                    content: content,
                    parent_comment_id: parent,
                    user_assignment_id: 0
                };
                if(this.type === 'question') {
                    cmt.question_id = postId;
                } else {
                    cmt.user_assignment_id = postId;
                }
                axios.post('forum/'+this.type+'/' + postId + '/comment', cmt).then(function (response) {
                    console.log("question posted ")
                }).catch(function (err) {
                    console.log("question is not posted")
                    console.log(err);
                });
                axios.get('/forum/'+ this.type + '/' +this.content+'/comments').then((result) => {
                    this.answers = result.data;
                });
            },
            // link these to the voting buttons!
            // postId might be replaced with this.content!
            upvotePost(post) {
                let usrId = this.userId;
                axios.post('/forum/question/' + post.id + '/vote', {
                    type: 'up',
                    userId: usrId
                }).then((response) => {
                    axios.get('/api/forum/question/'+post.id+'/rating').then((result) => {
                        post.rating = result.data;
                    });
                }).catch(function (err) {
                    console.log(err)
                })
            },
            downvotePost(post) {
                let usrId = this.userId; // this will be changed when during integration.abs
                axios.post('http://' + window.location.hostname + ':3000/forum/question/' + post.id + '/vote', {
                    type: 'down',
                    userId: usrId
                }).then(function (response) {
                    axios.get('/api/forum/question/'+post.id+'/rating').then((result) => {
                        post.rating = result.data;
                    });
                }).catch(function (err) {
                    console.log(err);
                })
            },
            getDisplayDate(date) {
                return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY');
            },
            upvoteComment(comment) {
                let usrId = this.userId; // this will be changed when during integration.abs
                axios.post('http://' + window.location.hostname + ':3000/forum/comment/' + comment.id + '/vote', {
                    type: 'up',
                    userId: usrId
                }).then(function (response) {
                    console.log(response)
                    comment.rating++;
                }).catch(function (err) {
                    console.log(err)
                })
            },
            downvoteComment(comment) {
                let usrId = this.userId; // this will be changed when during integration.abs
                axios.post('http://' + window.location.hostname + ':3000/forum/comment/' + comment.id + '/vote', {
                    type: 'down',
                    userId: usrId
                }).then(function (response) {
                    comment.rating--;
                    console.log(response)
                }).catch(function (err) {
                    console.log(err)
                })
            },
            reply(user, commentId) {
                let reply = prompt("Please enter your replay", "");
                if (reply != null || person != "") {
                    this.comment(this.content, reply, commentId);
                }
            },
            getRecursiveComments(answerId) {
                if(!this.toShowReplies(answerId)) {
                    this.allReplies.push(answerId);
                } else {
                    this.allReplies.splice(this.allReplies.indexOf(answerId), 1);
                }
                console.log(this.allReplies);
            },
            getReplies(answerId) {
                console.log(answerId);
                this.answers.forEach(answer => {
                    console.log(answer.children);
                    if(answer.id == answerId) {
                        return answer.children;
                    }
                });
            },
            toShowReplies(answerId) {
                if(this.allReplies.includes(answerId)) {
                    console.log("true");
                    return true;
                } else {
                    return false;
                }
            },
            setQuestionRating(postId) {
                axios.get('/api/forum/'+this.type+'/'+this.question.id+'/rating').then((result) => {
                    this.question.rating = result.data;
                });
            }

        },
        renderReplies(){
            axios.get('/forum/'+ this.type + '/' +this.content+'/comments').then((result) => {
                this.answers = result.data;
            });
        },

        mounted() {
            const baseURI = '/api/forum/'+this.type+'/' + this.content
            console.log(baseURI);
            axios.get(baseURI)
                .then((result) => {
                    console.log(result);
                    this.question = result.data
                });
            axios.get('/forum/'+ this.type + '/' +this.content+'/comments').then((result) => {
                this.answers = [];
                result.data.forEach(answer => {
                    axios.get('/api/forum/comment/'+answer.id+'/rating').then((result) => {
                        answer.rating = result.data;
                    });
                    if(answer.children) {
                        answer.children.forEach(child => {
                            axios.get('/api/forum/comment/'+child.id+'/rating').then((result) => {
                                child.rating = result.data;
                            });

                            if(child.children) {
                                child.children.forEach(cchild => {
                                    axios.get('/api/forum/comment/'+cchild.id+'/rating').then((result) => {
                                        cchild.rating = result.data;
                                    });
                                });
                            }
                        });
                    }
                    console.log(answer);
                    this.answers.push(answer);
                });
            });
            axios.get('/user', { headers: { authorization: localStorage.getItem('authToken') } })
            .then(response => {
              this.userId = response.data.id
              console.log('USER: ', response)
            })
        },
    }

</script>
