<template>
    <div>
        <b-container>
            <hr>
            <div class="container-fluid pt-2">
                <div class="container pt-0 mt-2 carousel-inner">
                    <carousel name="Available Courses"></carousel>
                </div>
            </div>
        </b-container>
    </div>
</template>
<script>

    import Carousel from "../components/carousel/Homepage-carousel";
    export default {
        components: {Carousel},
        data () {
            return {
                user: 'Bloomer'

            }
        },
        mounted () {

        },
        methods: {

        }
    }

</script>
<style scoped>
    hr{
        margin: 0.2rem 0;
    }
    h1{
        margin-bottom: 0;
    }
    h1.black{
        color: white;
        background-color:black;
    }
    .dropdown-item svg {
        min-width: 40px;
        margin-right: 8px;
    }

    .container {
        z-index: 0;
    }
</style>
