<template>
  <div>
    <div class="centered">
      <FlowerSpinner
        :animation-duration="2000"
        :size="100"
        :color="'#F7941E'"
      />
    </div>
    <p class="centered">{{ pText }}</p>

  </div>
</template>

<script>
import header from '../../src/components/core/Header'
import axios from 'axios'
import router from '../router'
import { FlowerSpinner } from 'epic-spinners'

// check if there's a code parameter, if not user can't be logged in, so we redirect user to home.
let hrefCodeParam = window.location.href.match(/\?code=(.*)/)

if (hrefCodeParam) {
  let code = hrefCodeParam[1]
  setTimeout(() => {
    const url = 'http://' + window.location.hostname + ':3000';
    axios.get( url + '/user/signin/handler?code=' + code)
      .then((rsp) => {
        let token = rsp.data.token

        if (token) {
          // set in cookie or storage
          localStorage.setItem('authToken', token)

          router.push('/profile')
        } else {
          // not authorized go to home
          router.push('/')
        }
      })
      .catch((err) => {
        console.log(err)
        router.push('/')
      })
  }, 700)
} else {
  router.push('/')
}

export default {
  components: {
    FlowerSpinner
  },
  data () {
    return {
      pText: 'Logging in...'
    }
  },
  beforeDestroy() {
    this.$root.$emit("login-change")
    //better solution would be to use a global event bus, but since this is probably the only place where we will be
    // sending vue events it works for now.
  }
}

</script>

<style scoped>

    div.centered {
        position: absolute;
        top:  50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    p.centered {
        position: absolute;
        top:  60%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }

</style>
