<template>
  <div>
    <b-container>
      <b-row>
        <b-col cols="10" ><h1><span >Hello </span><a class="text-primary">{{ user }}</a></h1></b-col>
        <b-col cols="2" ><b-dropdown class="dropdown-btn" dropdown variant="outline-none" style="float: right">

          <template v-slot:button-content>
            <font-awesome-icon
                    icon="cog"
                    class = "fa-2x  "/>
          </template>
          <b-dropdown-item to="/edit"><font-awesome-icon
                  v-slot:button-content
                  icon="wrench"
                  class = "fa-2x search"/>Edit Page</b-dropdown-item>
          <b-dropdown-item to="/home"> <font-awesome-icon
                  v-slot:button-content
                  icon="user"
                  class = "fa-2x "/>Manage Profile</b-dropdown-item>

        </b-dropdown>
        </b-col>
      </b-row>
      <hr>
      <div class="container-fluid pt-2">
        <div class="container pt-0 mt-2 carousel-inner">
          <carousel name="My Courses" :userid = "userId" v-if="userRole == 2"></carousel>
          <carousel name="Saved Courses" :userid = "userId" :bookmarks = "bookmarkedCourseList"></carousel>
          <carousel name="Saved Events" :userid = "userId"></carousel>
        </div>
        <div 
      </div>
    </b-container>
  </div>
</template>
<script>
import Carousel from "../components/carousel/Carousel";
import axios from 'axios'

axios.defaults.baseURL = 'http://' + window.location.hostname + ':3000'
axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'

export default {
  components: {Carousel}, 
  data () {
    return {
      user: '',
      userId: 0,
      userRole: 0,
      bookmarkedCourseList: []
    }
  },
  mounted () {
    axios.get('/user', { headers: { authorization: localStorage.getItem('authToken') } })
      .then(response => {
        this.user = response.data.username
        this.userId = response.data.id
        axios.get('/get/bookmarked/courses/' + this.userId)
          .then(response => {
            console.log(response.data)
            this.bookmarkedCourseList = response.data
            console.log(this.userId)
            console.log('tt: ', response)
            
            console.log("BOOKMARKED COURSES: " + this.bookmarkedCourseList)
          })
        this.userRole = response.data.roleId
        console.log('USER: ', response)
    })
  },
  methods: {

  }
}

</script>
<style scoped>
hr{
    margin: 0.2rem 0;
}
h1{
    margin-bottom: 0;
}
h1.black{
    color: white;
    background-color:black;
}
.dropdown-item svg {
  min-width: 40px;
  margin-right: 8px;
}

.container {
  z-index: 0;
}
</style>
