
<template>
  <div class="container-fluid question-form">
    <h3 class="createthread-margin">
      Create a thread
      <font-awesome-icon
        icon="times"
        class="fa-1x cursor-pointer"
        style="float: left"
        @click="$router.push('/threads')"
      />
    </h3>

    <form>
      <div class="form-group">
        <label for="subjectSelect">Subject</label>
        <select
          id="subjectSelect"
          v-model="subject"
          class="form-control">
          <option
            v-for="a in subjects"
            :key="a.id">{{ a.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="titleInput">Title</label>
        <input
          id="titleInput"
          v-model="title"
          type="text"
          class="form-control"
          placeholder="Title">
      </div>
      <div class="form-group">
        <label for="contentInptut">Content</label>
        <textarea
          id="contentInptut"
          v-model="content"
          type="text"
          class="form-control"
          placeholder="Content..."/>
      </div>
      <div
        class="submission-button"
        @click="save">
        <p>Post</p>
      </div>
    </form>
  </div>
</template>
<script>
import axios from 'axios'

axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*'
export default {
  data () {
    return {
      assignments: [],
      subjects: [],
      chapters: [],
      assignment: 1,
      subject: 1,
      chapter: 1,
      title: '',
      content: '',
      user: 1
    }
  },
  mounted () {
    get(this, 'Assignment')
    get(this, 'Subject')
    get(this, 'Chapter')

    function get(scope, model) {
        axios.get(model)
            .then((result) => {
                scope[model.toLowerCase()+'s'] = result.data
            });
    }
    axios.get('/courses')
      .then(response => {
        console.log(response.data)
        this.subjects = response.data
        console.log('tt: ', response)
      })
    axios.get('/user', { headers: { authorization: localStorage.getItem('authToken') } })
    .then(response => {
      this.user = response.data.id
      console.log('USER: ', response)
    })
  },
  methods: {
    save: function () {

      const url = ('http://' + window.location.hostname + ':3000');
      axios.post(url + '/forum/question', {
        Id: 0,
        Title: this.title,
        Content: this.content,
        Chapter: this.chapter,
        Subject: this.subject,
        Assignment: this.assignment,
        User: this.user,
        DateAsked: Date.now(),
        Rating: 0
      }).then(function (response) {
        console.log(response)
      }).catch(function (err) {
        //alert('Could not save the data!')
        console.log(err)
      })
    }
  }
}
</script>
