<template>
  <div>
    <b-list-group>
      <b-list-group-item variant="light">
        <b-container>
          <b-row class="ml-auto">
            <b-col
              cols="2"
              align-self="center">
              <font-awesome-icon
                :icon="['fas', 'exclamation-triangle']"
                size="4x"/>
            </b-col>
            <b-col cols="2">
              <p>Posted {{ datePosted }} days ago</p>
              <p>by <strong>{{ username }}</strong></p>
              <p>last report {{ lastRep }}</p>
            </b-col>
            <b-col
              cols="2"
              align-self="center">
              <b-button
                size="sm"
                variant="outline-none"
                @click="blockUser">
                <font-awesome-icon
                  :icon="['fas', 'user-lock']"
                  size="3x"/>
                <p>Block user</p>
              </b-button>
            </b-col>
            <b-col
              cols="2"
              align-self="center">
              <b-button
                size="sm"
                variant="outline-none"
                @click="blockContent">
                <font-awesome-icon
                  :icon="['fas', 'lock']"
                  size="3x"/>
                <p>Block content</p>
              </b-button>
            </b-col>
            <b-col
              cols="2"
              align-self="center">
              <b-button
                size="sm"
                variant="outline-none"
                @click="$router.push('/')">
                <font-awesome-icon
                  :icon="['fas', 'external-link-square-alt']"
                  size="3x"/>
                <p>View content</p>
              </b-button>
            </b-col>
            <b-col
              cols="2"
              align-self="center">
              <b-button
                size="sm"
                variant="outline-none"
                @click="ignoreReport">
                <font-awesome-icon
                  :icon="['fas', 'times']"
                  size="3x"/>
                <p>Ignore report</p>
              </b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>
<script>
export default {
  data () {
    return {
      username: 'saduser@git',
      datePosted: '',
      lastRep: '',
      blockedUser: false,
      contentblocked: false,
      ignoreRep: false
    }
  },
  mounted () {},
  methods: {
    blockUser () {
      if (this.blockUser !== true) {
        this.blockUser = true
      }
    },
    blockContent () {
      if (this.contentblocked !== true) {
        this.contentblocked = true
      }
    },
    ignoreReport () {
      if (this.ignoreRep !== true) {
        this.ignoreRep = true
      }
    }
  }
}
</script>
