<template>
  <div>
    <router-link :to="{name:'question'}"> <b-button class="mt-2 ml-2" variant="outline-success" href="/add">Create</b-button></router-link>
    <div class ="sort-field">
      <b-dropdown
        id="dropdown-1"
        text="Sort By"
        class="m-md-2"
        variant="warning">
        <b-dropdown-item
          @click="orderThreadsByDate('desc')">Sort by oldest date
        </b-dropdown-item>
        <b-dropdown-item
          @click="orderThreadsByDate('asc')">Sort by newest date
        </b-dropdown-item>
        <b-dropdown-item
          @click="orderThreadsByRating('asc')">Sort by highest rating
        </b-dropdown-item>
        <b-dropdown-item
          @click="orderThreadsByRating('desc')">Sort by lowest rating
        </b-dropdown-item>
      </b-dropdown>
    </div>
    <div class="center-threads">
      <b-card
        v-for="item in topics"
        :key="item.id"
        f
        no-body
        class="card-k"
      >
        <b-row no-gutters>
          <b-col class="forum-image-margin">
            <img
              src="img/forum.png"
              class="forum-icon" >
            <p>Points:{{ item.rating }}</p>
          </b-col>
          <b-col cols="6">
            <router-link :to="{name: 'forumpage', params: {id: item.id, type: 'question'}}">
              <b-card-body
                :title="item.title"
                class="cursor-pointer">
                <b-card-text>
                  <i>Asked by {{ item.username }} on {{ getDisplayDate(item.date_asked) }}</i>
                </b-card-text>
              </b-card-body>
            </router-link>
          </b-col>
        </b-row>
      </b-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
axios.defaults.headers.post['Access-Control-Allow-Origin'] = '+'
export default {
  name: 'Threads',
  data () {
    return {
      topics: [],
      name: '',
      nameState: null,
      submittedNames: []
    }
  },
  mounted () {
    const baseURI = '/api/forum/questions'
    axios.get(baseURI)
      .then((result) => {
        this.topics = result.data
        this.topics.forEach(topic => {
          axios.get('/api/forum/question/' + topic.id + '/rating').then((res) => {
            topic.rating = res.data
          })
        })
      })
  },
  methods: {
    orderThreadsByRating (order) {
      if (order === 'desc') {
        this.topics.sort((a, b) =>
          (a.rating > b.rating) ? 1 :
            ((b.rating > a.rating) ? -1 : 0)
        );
      } else {
        this.topics.sort((a, b) =>
          (a.rating < b.rating) ? 1 :
            ((b.rating < a.rating) ? -1 : 0)
        );
      }
    },
    orderThreadsByDate (order) {
      if (order === 'desc') {
        this.topics.sort((a, b) =>
          (a.rating > b.rating) ? 1 :
            ((b.date_asked > a.date_asked) ? -1 : 0)
        );
      } else {
        this.topics.sort((a, b) =>
          (a.date_asked < b.date_asked) ? 1 :
            ((b.date_asked < a.date_asked) ? -1 : 0)
        );
      }
    },
    getDisplayDate (date) {
      return moment(date, 'YYYY-MM-DD').format('DD/MM/YYYY');
    },
    checkFormValidity () {
      const valid = this.$refs.form.checkValidity()
      this.nameState = valid ? 'valid' : 'invalid'
      return valid
    },
    resetModal () {
      this.name = ''
      this.nameState = null
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      // Push the name to submitted names
      this.submittedNames.push(this.name)
      // Hide the modal manually
      this.$nextTick(() => {
        this.$refs.modal.hide()
      })
    }
  }
}

</script>
