<template>
  <div style="height: 300px; margin-top: 10px; height: 50%">
    <b-row>
      <b-col
              cols="10"
              class="text-info"><h2>{{name}}</h2></b-col>
      <b-col cols="02">
        <button @click="$refs.myVueperSlides.previous()">Previous</button>
        <button @click="$refs.myVueperSlides.next()">Next</button>
      </b-col>
    </b-row>
    <section>
      <!--  TO BE CHANGED VUEPER-SLIDE v-for="(course, i) in courses"-->
      <vueper-slides class="no-shadow" autoplay ref="myVueperSlides" :visible-slides="3" :slide-ratio="1 / 4"
                     :arrows="false" :dragging-distance="70">
        <vueper-slide v-for="Event in eventList">
          <template v-slot:content>
            <event-template
                    :date="Event.date"
                    :title="Event.title"
                    :location="Event.location"
                    :background="Event.picture">
            </event-template>
          </template>


          <!--            <ul>-->
          <!--              <li-->
          <!--                      v-for="Event in eventList"-->
          <!--                      :key="Event.title">-->
          <!--                <event-template  v-slot: eventList-->
          <!--                        :date="Event.date"-->
          <!--                        :title="Event.title"-->
          <!--                        :location="Event.location"-->
          <!--                        :background="Event.picture"/></li>-->
          <!--            </ul>-->

        </vueper-slide>
      </vueper-slides>
    </section>
    <!--    <section-->
    <!--      id="postsCarousel"-->
    <!--      class="carousel slide"-->
    <!--      style="height: 300px;"-->
    <!--      data-ride="carousel" >-->
    <!--      <div-->
    <!--        class="container pt-0 mt-2 carousel-inner"-->
    <!--        role="listbox">-->
    <!--        <div class="carousel-item active">-->
    <!--          <div class="row  w-90 h-90   mt0">-->
    <!--            <div class="col-sm-3">-->
    <!--              <a>-->
    <!--                <div class="card">-->
    <!--                  <div class="item peopleCarouselImg">-->
    <!--                    <img-->
    <!--                      class="img-fluid"-->
    <!--                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png"-->
    <!--                      alt="image1">-->
    <!--                  </div>-->
    <!--                  <div class="item peopleCarouselImg">-->
    <!--                    <div class="card-header text-center"><h4>C++</h4></div>-->
    <!--                    <div class="progress">-->
    <!--                      <div-->
    <!--                        class="progress-bar"-->
    <!--                        role="progressbar"-->
    <!--                        style="width: 70%;"-->
    <!--                        aria-valuenow="70"-->
    <!--                        aria-valuemin="0"-->
    <!--                        aria-valuemax="100">70%</div></div>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </a>-->
    <!--            </div>-->
    <!--            <div class="col-sm-3">-->
    <!--              <div class="card">-->
    <!--                <a>-->
    <!--                  <div class="item peopleCarouselImg">-->
    <!--                    <img-->
    <!--                      class="img-fluid"-->
    <!--                      src="https://i.morioh.com/2019/11/01/a41e6401bdd6.jpg"-->
    <!--                      alt="image2">-->
    <!--                  </div>-->
    <!--                  <div class="card-block pt-2">-->
    <!--                    <div class="card-header text-center"><h4>Vue.js</h4></div>-->
    <!--                    <div class="progress">-->
    <!--                      <div-->
    <!--                        class="progress-bar"-->
    <!--                        role="progressbar"-->
    <!--                        style="width: 40%;"-->
    <!--                        aria-valuenow="25"-->
    <!--                        aria-valuemin="0"-->
    <!--                        aria-valuemax="100">40%</div></div>-->
    <!--                  </div>-->
    <!--                </a>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-3">-->
    <!--              <div class="card">-->
    <!--                <a>-->
    <!--                  <div class="item peopleCarouselImg">-->
    <!--                    <img-->
    <!--                      class="img-fluid"-->
    <!--                      src="https://www.freecodecamp.org/news/content/images/2019/10/androiddevelopment.png"-->
    <!--                      alt="image3">-->
    <!--                  </div>-->
    <!--                  <div class="card-block pt-2">-->
    <!--                    <div class="card-header text-center"><h4>Android+Kotlin</h4></div>-->
    <!--                    <div class="progress">-->
    <!--                      <div-->
    <!--                        class="progress-bar"-->
    <!--                        role="progressbar"-->
    <!--                        style="width: 25%;"-->
    <!--                        aria-valuenow="25"-->
    <!--                        aria-valuemin="0"-->
    <!--                        aria-valuemax="100">25%</div></div>-->
    <!--                  </div>-->
    <!--                </a>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="carousel-item ">-->
    <!--          <div class="row  w-90 h-90   mt0">-->
    <!--            <div class="col-sm-3">-->
    <!--              <a>-->
    <!--                <div class="card">-->
    <!--                  <div class="item peopleCarouselImg">-->
    <!--                    <img-->
    <!--                      class="img-fluid"-->
    <!--                      src=""-->
    <!--                      alt="image1">-->
    <!--                  </div>-->
    <!--                  <div class="item peopleCarouselImg">-->
    <!--                    <div class="card-header text-center"><h4>C++</h4></div>-->
    <!--                    <div class="progress">-->
    <!--                      <div-->
    <!--                        class="progress-bar"-->
    <!--                        role="progressbar"-->
    <!--                        style="width: 70%;"-->
    <!--                        aria-valuenow="70"-->
    <!--                        aria-valuemin="0"-->
    <!--                        aria-valuemax="100">70%</div></div>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </a>-->
    <!--            </div>-->
    <!--            <div class="col-sm-3">-->
    <!--              <div class="card">-->
    <!--                <a>-->
    <!--                  <div class="item peopleCarouselImg">-->
    <!--                    <img-->
    <!--                      class="img-fluid"-->
    <!--                      src="https://i.morioh.com/2019/11/01/a41e6401bdd6.jpg"-->
    <!--                      alt="image2">-->
    <!--                  </div>-->
    <!--                  <div class="card-block pt-2">-->
    <!--                    <div class="card-header text-center"><h4>Vue.js</h4></div>-->
    <!--                    <div class="progress">-->
    <!--                      <div-->
    <!--                        class="progress-bar"-->
    <!--                        role="progressbar"-->
    <!--                        style="width: 40%;"-->
    <!--                        aria-valuenow="25"-->
    <!--                        aria-valuemin="0"-->
    <!--                        aria-valuemax="100">40%</div></div>-->
    <!--                  </div>-->
    <!--                </a>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-sm-3">-->
    <!--              <div class="card">-->
    <!--                <a>-->
    <!--                  <div class="item peopleCarouselImg">-->
    <!--                    <img-->
    <!--                      class="img-fluid"-->
    <!--                      src="https://www.freecodecamp.org/news/content/images/2019/10/androiddevelopment.png"-->
    <!--                      alt="image3">-->
    <!--                  </div>-->
    <!--                  <div class="card-block pt-2">-->
    <!--                    <div class="card-header text-center"><h4>Android+Kotlin</h4></div>-->
    <!--                    <div class="progress">-->
    <!--                      <div-->
    <!--                        class="progress-bar"-->
    <!--                        role="progressbar"-->
    <!--                        style="width: 25%;"-->
    <!--                        aria-valuenow="25"-->
    <!--                        aria-valuemin="0"-->
    <!--                        aria-valuemax="100">25%</div></div>-->
    <!--                  </div>-->
    <!--                </a>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->
  </div>
</template>

<script>
  import {VueperSlides, VueperSlide} from 'vueperslides'
  import 'vueperslides/dist/vueperslides.css'
  import EventTemplate from "../Event-components/event-template";
  import axios from 'axios';

  axios.defaults.baseURL = ('http://' + window.location.hostname + ':3000');
  axios.defaults.headers.post['Access-Control-Allow-Origin'] = '*';

  export default {
    name: 'CustomCarousel',
    components: {VueperSlides, VueperSlide, EventTemplate},
    props: ['name'],
    src: String,
    data() {
      return {
        eventList: [],
        props:{
          name:String,
        },
      }
    },
    mounted() {
      axios.get('/events')
              .then(response => {
                console.log(response.data)
                this.eventList = response.data
                console.log('tt: ', response)
              })
    },
    methods: {}
  }
</script>

<style scoped>
  #carousel {
    width: 900px;
    height: 800px;
    max-width: 100%;
    margin: inherit;
  }

  #vuper {


  }

  .peopleCarouselImg img {
    width: auto;
    height: 150px;
    max-height: 150px;
    margin-bottom: 100px;
  }

</style>
