<template>
  <div>
    <b-row>
      <b-col
        cols="10"
        class="text-info"><h2>Saved courses</h2></b-col>
      <b-col cols="02" > <a
        class="btn btn-outline-secondary prev"
        href=""
        title="Prev">
        <i class="fa fa-lg fa-chevron-left"/>
      </a>
        <a
          class="btn btn-outline-secondary next"
          href=""
          title="Next">
          <i class="fa fa-lg fa-chevron-right"/>
      </a></b-col>
      <!-- <div class="col-1 text-right mb-4">
                 <a class="btn btn-outline-secondary prev" href="" title="Prev">
                     <i class="fa fa-lg fa-chevron-left"></i>
                 </a>
                 <a class="btn btn-outline-secondary next" href="" title="Next">
                     <i class="fa fa-lg fa-chevron-right"></i>
                 </a>
             </div> -->
    </b-row>
    <section
      id="postsCarousel"
      class="carousel slider"
      style="height: 300px;"
      data-ride="carousel" >
      <div class="container pt-0 mt-2 carousel-inner">
        <div class="row row-equal w-90 h-90 active mt0">
          <div class="col-sm-3">
            <a>
              <div class="card">
                <div class="item peopleCarouselImg">
                  <img
                    class="img-fluid"
                    src="https://miro.medium.com/max/2622/1*oD8RH7yTc_bCi-DUYBJ2AA.jpeg"
                    alt="image1">
                </div>
                <div class="item peopleCarouselImg">
                  <div class="card-header text-center"><h4>Big Data</h4></div>
                  <h6 class="text-center">8h 25m</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <a>
                <div class="item peopleCarouselImg">
                  <img
                    class="img-fluid"
                    src="https://d3f1iyfxxz8i1e.cloudfront.net/courses/course_image/434b8119046b.png"
                    alt="image2">
                </div>
                <div class="card-block pt-2">
                  <div class="card-header text-center"><h4>IOT</h4></div>
                  <h6 class="text-center">4h 15m</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <a>
                <div class="item peopleCarouselImg">
                  <img
                    class="img-fluid"
                    src="https://cdn.lynda.com/course/139988/139988-637021525148800194-16x9.jpg"
                    alt="image3">
                </div>
                <div class="card-block pt-2">
                  <div class="card-header text-center"><h4>SQL</h4></div>
                  <h6 class="text-center">6h 00m</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  name: 'SavedCourses'

}
</script>

<style scoped>
.peopleCarouselImg img {
  width: auto;
  height: 150px;
  max-height: 150px;
}

</style>
