<template>
  <div>
    <b-row>
      <b-col
        cols="10"
        class="text-info"><h2>Upcoming Events</h2></b-col>
      <b-col cols="02" > <a
        class="btn btn-outline-secondary prev"
        href=""
        title="Prev">
        <i class="fa fa-lg fa-chevron-left"/>
      </a>
        <a
          class="btn btn-outline-secondary next"
          href=""
          title="Next">
          <i class="fa fa-lg fa-chevron-right"/>
      </a></b-col>
      <!-- <div class="col-1 text-right mb-4">
                 <a class="btn btn-outline-secondary prev" href="" title="Prev">
                     <i class="fa fa-lg fa-chevron-left"></i>
                 </a>
                 <a class="btn btn-outline-secondary next" href="" title="Next">
                     <i class="fa fa-lg fa-chevron-right"></i>
                 </a>
             </div> -->
    </b-row>
    <section
      id="postsCarousel"
      class="carousel slider"
      style="height: 300px;"
      data-ride="carousel" >
      <div class="container pt-0 mt-2 carousel-inner">
        <div class="row row-equal w-90 h-90 active mt0">
          <div class="col-sm-3">
            <a>
              <div class="card">
                <div class="item peopleCarouselImg">
                  <img
                    class="img-fluid"
                    src="https://alarmgroep.nl/wp-content/uploads/2018/09/201809-rout-it-event-107.jpg"
                    alt="image1">
                  <b-button
                    variant = "outline-none"
                    style="float: right;"> <i class="fa fa-heart-o fa-3x"/></b-button>
                </div>
                <div class="item peopleCarouselImg">
                  <div class="card-header text-center text-danger"><h6> Tue, Sep 19</h6></div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="item peopleCarouselImg">
                <img
                  class="img-fluid"
                  src="https://careers.keylane.com/wp-content/uploads/2019/10/event-image-.jpg"
                  alt="image2">
                <b-button
                  variant = "outline-none"
                  style="float: right;"> <i class="fa fa-heart-o fa-3x"/></b-button>
              </div>
              <div class="item peopleCarouselImg">
                <div class="card-header text-center text-danger"><h6> Wed, Nov 27</h6></div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="item peopleCarouselImg">
                <img
                  class="img-fluid"
                  src="https://blog.bettyblocks.com/hs-fs/hubfs/1920x1080-banner.png?width=1920&name=1920x1080-banner.png"
                  alt="image3">
                <b-button
                  variant = "outline-none"
                  style="float: right;"> <i class="fa fa-heart-o fa-3x"/></b-button>
              </div>
              <div class="item peopleCarouselImg">
                <div class="card-header text-center text-danger"><h6>Tue, Dec 31</h6></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  name: 'UpcomingEvents'
}
</script>

<style scoped>
.peopleCarouselImg img {
  width: auto;
  height: 150px;
  max-height: 150px;
}

</style>
